[2018-09-05 14:51] radex opened #3 "Write up "Getting Started""
A short tutorial for how to get from zero to a working demo would be nice

[2018-09-05 14:55] radex opened #4 "Write up Pro tips"
Actions:

- invariants
- kwargs
- fast skip

Rendering:
- Prefetching!!!!
- Sorting

Performance tips:
- JSC + standard react basics
- prefetching
- minimy queries
- share query results (filter in js instead of doing multiple similar queries)
- batching

[2018-09-05 15:00] radex opened #5 "Write up Sync details"

[2018-09-05 15:07] radex opened #6 "Online docs"
Currently, the whole documentation is available just on GitHub in Markdown form.

It would be nice to have a website (like React Native, Jest, React Navigation, etc.) with those docs, and API  reference automatically build from source.

It would be great if someone wanted to help out with this!

[2018-09-05 15:17] mobily commented on #6
I think we should use https://docusaurus.io

[2018-09-05 15:18] radex commented on #6
ooh! That's the thing!

[2018-09-06 12:32] luisgregson commented on #5
In the current documentation you mention using a sync engine with the current synchronization primitives. Did you have specific ones in mind? I'd like to see if i can get something working

[2018-09-06 12:42] radex commented on #5
@luisgregson that might be difficult for you to figure out before we push documentation and some helper functions for it, but just in short:

1. All records have _status and _changed fields:
  - if _status is `created`, it's a new record to push to server
  - if _status is `updated`, it's a record to update
2. when you pull data from server, and you have something updated on both client, and serve

[2018-09-06 16:59] sebastian-schlecht opened #7 "Override entity IDs"
Hey,

we are currently evaluating this for our app. Since we try to implement our own sync engine on top, I'd be curious if it's possible to specify entity IDs whenever you create one.

Right now, if I try to set an ID in the builder function, I get the following error:

`Diagnostic error: Attempt to set new value on a property Model.prototype.id marked as @readonly`

Great work by the way, this l

[2018-09-06 20:05] fletling opened #8 "Wrong path to MainApplication.java in docs"
quickly jotting this down:

in https://github.com/Nozbe/WatermelonDB/blob/master/docs/Installation.md there's

The path here is wrong, it's supposed to be `android/app/src/main/java/...`

[2018-09-06 20:15] radex commented on #8
Do you mind sending a quick pull request? You can do it from the browser :)

[2018-09-06 20:25] sebastian-schlecht opened #9 "Column names not escaped properly"
When using SQL keywords as column names, the application dies on launch.

Example:
[code]

while *order* is a SQL keyword. Stacktrace shows `Syntax error near "order"`

[2018-09-06 21:16] #8 closed

[2018-09-06 21:28] radex commented on #9
Ooh! That's not good.

The generated SQL should put double quotes around column names.

This should be an easy fix (the helpers here: https://github.com/Nozbe/WatermelonDB/tree/master/src/adapters/sqlite )

I'll try to write up a basic Contributing.md guide with the how to for running tests and whatnot tomorrow, and maybe you'd like to take a stab at fixing it?

[2018-09-06 21:32] radex commented on #7
Yep, for sync you should use a lower-level API. I'll try to document this better sometime soon.

But in short, you can either use:

[code]

But if you're pulling a record from the server, and you have a simple JSON-like object with the record's data, you can also do:

[code]

[2018-09-06 21:42] sebastian-schlecht commented on #9
Sure - just ping me here as soon as the guide is up and I'll give it a shot.

[2018-09-07 10:31] radex commented on #9
@sebastian-schlecht OK, check out:

https://github.com/Nozbe/WatermelonDB/blob/master/CONTRIBUTING.md

And let me know if you run into any issues

[2018-09-07 18:47] Aidurber opened #11 "Database provider pattern with context"
Hello!

I've just been reviewing the examples and I'm wondering why there isn't a database provider using React context?

Was this an architectural decision?

If not, do you think the library would benefit from a provider? In my head it would just have a similar API to MobX or Redux providers, just to reduce the prop drilling and access to the database deep in the tree if needed:

[code]

The cont

[2018-09-08 08:02] xarrijorge commented on #6
Have you decided to use docusaurus or still go with the static site?

[2018-09-08 08:03] radex commented on #6
No decision was made. Doesn't docusaurus generate static sites?

[2018-09-08 08:07] xarrijorge commented on #6
I'm not really familiar with it. I think it is a static site generator (like Gatsby). We could use Gatsby as another alt.

[2018-09-08 09:10] radex commented on #11
No specific reason! We do use a context at Nozbe to provide the database to components deep in the tree. The reason why it's not part of 🍉 is a) we have one context for many global "services" (just something specific to our app), and b) Watermelon isn't actually React-dependent (withObservables is a separate package).

I think for most users an API like this:

[code]

or even:

[code]

would make

[2018-09-08 09:11] radex commented on #11
One more thing. In this example:

[code]

perhaps this is what you meant, but you'd still need `withObservables` to subscribe to a specific query of posts. Injecting database via context just gives you an easier ability to do so.

[2018-09-08 09:28] Kausta opened #12 "Documentation about Native Access"
There is currently no documentation about native ( android, ios ) access to the db. Is it possible with the current api, or is it done manually via sqlite, or is there simply no documentation ?
Thanks

[2018-09-08 09:29] radex commented on #12
What do you mean exactly? Do you want to access the database directly from native code, skipping JavaScript? What's your use case for this?

[2018-09-08 12:56] Kausta commented on #12
Sometimes we require shared objects stored between native code and javascript, and that is the reasons for wanting to access database directly from native code. I wondered whether this had direct support for such a thing.

[2018-09-08 13:07] radex commented on #12
Currently no.

Do you need write access, or only read access? if read-only access, then it should be fairly easy to add support for native access (essentially just expose the DatabaseDriver object that DatabaseBridge - the native module - owns).

If you need to write to the database, then that would be in conflict with Watermelon, because if you add new items to the database from native code, Wate

[2018-09-08 20:49] sebastian-schlecht commented on #9
@radex started working on this - changing `encodeSchema` seems to be insufficient. Shouldn't also insert, update and query operations escape column (& table) names in order to be safe?

https://www.sqlite.org/lang_keywords.html

[2018-09-08 21:28] radex commented on #9
Yep, exactly!

[2018-09-09 08:41] sebastian-schlecht opened #15 "Native support for sorting"
Hey,

it would be great to have native support for sorting according to a column (i.e. the timestamp) in order to avoid doing that in the JS thread.

Took a brief attempt to roll that on our end [here](https://github.com/sebastian-schlecht/WatermelonDB/tree/sebastian/native-sort) - but I'm not sure about the API.

[2018-09-09 11:43] radex commented on #15
Hey! Good first stab at the problem, but unfortunately, this is more difficult than it seems. Since Watermelon is observable, it's not enough for just the first query response to be sorted correctly. When a change occurs, you'd have to have some sort of a observable sort algorithm to insert a new item in the right place. At that point, it's easier to just do all the sorting in JS.

Are you hitting

[2018-09-09 12:38] sebastian-schlecht commented on #15
Hm fair point.

Just to understand the underlying concepts (without having had a deep dive into the relevant code) - whenever a change occurs, the observed query is not executed again? Since sorting only changes the sequence of resulting items, not whether they are within the set or not, I thought one could simply re-execute the query that is being observed entirely. However, that wouldn't work of

[2018-09-09 12:51] radex commented on #15
If you're making a complex query (with a JOIN, such as query comments where comment's post has post.blog_id = xxx), then the query will be re-executed on the database.

However, for simple queries, the observation is entirely JS-based, because it doesn't incur the latency penalty of waiting for the database again. The algorithm is roughly like this: listen to the collection that's queried, and whe

[2018-09-09 13:05] xiaobebe opened #16 "Can you surport Electron?"
Oh! this is a powerful way to edit database!

Can you surport Electron?

[2018-09-09 13:45] xiaobebe commented on #16
expect

[2018-09-09 18:58] #9 closed

[2018-09-10 09:39] radex opened #20 "[Discussion] Absolute vs relative paths"
Currently, most imports in 🍉 are absolute (i.e. `import from 'Query'`). This is mostly an artifact of the fact that it was extracted from a codebase of an app. But it's also very convenient when working on Watermelon.

But it adds A LOT of complexity, because every tool that has to understand the codebase has to be (often separately) configured:

- Babel (for building) - #22
- Jest
- Eslint (via e

[2018-09-10 09:47] radex opened #21 "[Discussion] Better Flow setup"
In #19 I fixed support for using Flow in apps importing Watermelon.

But there's a couple of problems:

1. We can't just export the source code, because we have to rewrite imports first (see #20), which complicates the build process
2. Babel screws up the $FlowFixMe comments in the output files, so we have to re-check Flow in an app importing Watermelon
3. We have to build a separate package for F

[2018-09-10 09:55] radex opened #22 "[Discussion] Better dist format"
Currently, we build and output Watermelon in two formats: ESM and CJS. If I understand correctly (@mobily knows this), it's because React Native needs CJS, but Webpack can do tree shaking with ESM. In #19, we add another format (same as source but with rewritten imports) to support Flow.

This complicates things because users have to include a Babel plugin to rewrite `@nozbe/watermelon/xxx` import

[2018-09-10 11:11] satya164 commented on #20
Facebook uses this kind of module system, haste? IMO relative paths are better, no confusion about where the module is, no configuration needed for tools etc.

[2018-09-10 11:12] radex commented on #20
Yeah, but haste is not exactly absolute paths, I think it searches the whole tree to find the right package. And haste is specific to Facebook tools, isn't universal

[2018-09-10 11:15] satya164 commented on #22
React Native doesn't need CJS. ESM will work fine with React Native.

Yup.

[2018-09-10 14:32] fletling commented on #5
@radex As long as the documentation is not there I'd abuse this thread to ask a few additional questions:

1) Could you briefly explain how the `_changed` field works? I assume that's related to sync, right?

2) Is there a recommended way to set the _status, _changed and last_modified fields? I'm currently using `record._raw = sanitizedRaw(...)` for everything but I thought a helper function might

[2018-09-10 16:20] radex commented on #5
Yes, it tracks which columns were changed since the last sync.

If you do:

[code]

Watermelon will update `_changed` to be `text,foo_bar`. It's just comma separated names of columns (we figured that's going to be the simplest, fastest format).

This is so that if you have a conflict (server says that it has an updated record R1, but local R1's status is also updated), you can take the server's ve

[2018-09-11 04:41] aijer668 opened #24 "test"
aaa

[2018-09-11 06:13] #24 closed

[2018-09-11 11:34] radex commented on #21
Oh, that's so cool! Thanks @jamesisaac. I will check it out on Friday if it actually works :)

[2018-09-11 11:45] jamesisaac commented on #21
You're welcome!  Cool library (just saw it on HN), looking forward to giving it a try.  Great to see the focus on Flow / type safety.

[2018-09-11 14:38] Kausta commented on #12
Read access is okey, but write access, if there is a way to implement it, would be much better. It is possible to do it with Realm, one can read and write to the same .realm in Android, IOS and React Native. Having this with read/write ability on native would, in our eyes, make this a solid alternative to Realm. Is there currently a reason that there cannot be a way to have writes in native api ?

[2018-09-11 14:58] radex commented on #12
Yeah, like I said:

That makes it challenging to do, because Watermelon is asynchronous and multi-threaded. Not saying it's impossible — I've got some ideas. But that will take some time to implement.

[2018-09-12 12:05] jpbretanha commented on #6
You also could use to [docz](https://www.docz.site)

[2018-09-14 08:38] c-kirkeby opened #29 "Request for TypeScript support"
This project looks fantastic and it would be great to get TypeScript support as well. TypeScript has quite a big community but with this being quite a new project there doesn't appear to be a community definition yet. I'd be happy to have a crack at helping with this, but I have not written an index.d.ts definition before. Microsoft have a guide over at https://www.typescriptlang.org/docs/handbook

[2018-09-14 09:29] Kabangi opened #30 "Request improved debug logs"
This is really a great project and am planning to use it in most of my upcoming projects.

While integrating it to an existing project  I have run into this issue and I have no way of knowing what am doing wrong.

<img width="268" alt="screen shot 2018-09-14 at 12 27 31 pm" src="https://user-images.githubusercontent.com/8632600/45542126-9814e700-b819-11e8-8792-f67488849466.png">

Checking the swif

[2018-09-14 09:39] radex commented on #30
I'll take a look in a spare moment. I agree, the error logs could be more useful. I onlyy spotted one error:

[code]

this should be `contact.firstName`. But I don't think it would throw in the database.

If you run the project from Xcode, and open the Xcode console logs, you should see more details there about the error (likely a SQL error). Let me know

[2018-09-14 09:41] radex commented on #29
TypeScript support would be cool

We don't use it at @Nozbe, but feel free to send a pull request with the definition. We'll be happy to accept it

[2018-09-14 09:48] Kabangi commented on #30
Thanks, got it figured but I will leave this open since it's more generic and will help push for adoption of the project if done.

[2018-09-14 09:50] Kabangi opened #31 "Inspecting an item using react-devtools throws an error"
### Steps to reproduce
1. Install https://www.npmjs.com/package/react-devtools
2. Run `react-devtools`
3. Toggle inspector from react-native dev options `cmd+D` on simulator
4. Click on an element that is coming from the DB
5. Observe the attached screenshot error is thrown

<img width="262" alt="screen shot 2018-09-14 at 12 47 12 pm" src="https://user-images.githubusercontent.com/8632600/45543252

[2018-09-14 09:55] radex commented on #31
@Kabangi please provide more context — what you're doing, the code, etc. It's very difficult to diagnose your problem just from a screenshot

[2018-09-14 10:00] Kabangi commented on #31
Sorry about that. I have added more info to it.

Note! This might not be a priority since I would assume with the definition of models we already know the properties for each model but would be nice to have.

[2018-09-14 13:12] greenkeeper[bot] opened #32 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI status on th

[2018-09-14 14:53] #32 closed

[2018-09-14 17:02] BarryMode commented on #5
I was just looking at WatermelonDB for an upcoming project and had additional questions about the sync engine.

That's my questions as well. Are there existing sync engines that are compatible or is this a code your own situation? I did some brief research, but didn't turn any up.

Are those helper functions expected, or is that a feature way down the road? 😅

Thanks for your help.

[2018-09-16 11:05] ikhsanalatsary opened #35 "withObservables not working"
I have schema, model and instance database.

User Model:
[code]
My Schema:
[code]

and called it
[code]

But when i tried to integrate `withObservables` i got an error.
![simulator screen shot - iphone 6 - 2018-09-16 at 17 59 15](https://user-images.githubusercontent.com/5897415/45595730-42d40380-b9da-11e8-8397-2df265108cfd.png)

My component is like

[code]

it seems user is `undefined`, but I am

[2018-09-16 11:46] Kabangi opened #36 "Any recommended way of preventing duplicate entries while inserting batch records"
At the moment am using this custom functions to prevent duplicates. This works great but not sure if this is the recommended way of doing it. I wish there was a functionality such as `firstOrCreate` that either modifies properties or create a fresh record.

[code]

[2018-09-16 22:00] rkrajewski commented on #35
@ikhsanalatsary You try to observe `user.body` which is actually `@json` field, not an observable. You need to observe model instead:

[code]

I assume there is a user in the database and you've provided it as prop into `EnhancedAuth` component.

[code]

[2018-09-17 09:07] TimRChen opened #39 "about src/ package.json"
Why does every file in the `src/` directory have `package.json`? Does this make sense?

[2018-09-17 11:10] ikhsanalatsary commented on #35
ok, got it. thank you so much @rkrajewski

[2018-09-17 11:10] #35 closed

[2018-09-17 12:38] radex commented on #39
a temporary artifact of Metro settings / React Native integration tests — see #20

[2018-09-17 18:06] radex commented on #36
Hey @Kabangi.

Your use case is valid, and you're right, it should be easier to do.

Your solution (find by id oneOf(ids...), then update or create) is, I think, the best you can do at this moment.

[2018-09-17 18:09] radex commented on #39
Closing this, but if you (or anyone watching) has experience with more complex metro setups — please comment on #20 with tips ;)

[2018-09-17 18:09] #39 closed

[2018-09-17 20:03] kroltan commented on #29
Started working on it today, already typed most of the modules imported by `index.js`.
https://github.com/kroltan/WatermelonDB/tree/typescript

[2018-09-18 08:43] theixbass opened #40 "Database failed to load error"
After some time spent to set up this package in react native, got this error:

`[DB] Uh-oh. Database failed to load, we're in big trouble, [TypeError: undefined is not an object (evaluating 'Native.setUp')]`

I am using expo for development.

[2018-09-18 09:58] radex commented on #40
Hey, looks like the native module is not set up. Did you go through Installation guide for iOS/Android?

[2018-09-18 10:02] radex commented on #29
Good stuff @kroltan! Thanks for working on this.

[2018-09-18 10:31] theixbass commented on #40
I missed defining the decorators in Model. After defining, I got an error:

`Unable to resolve "@nozbe/watermelondb/decorators"`

[2018-09-18 10:35] radex commented on #40
So, is it working now for you or still no? Your error is most likely because you forgot to add the babel plugin to your config. Note that you need to restart the bundler after doing that

[2018-09-18 10:40] theixbass commented on #40
Nop. Do you meen - @babel/plugin-proposal-decorators?

[2018-09-18 10:42] radex commented on #40
please go through https://github.com/Nozbe/WatermelonDB/blob/master/docs/Installation.md carefully one more time ;)

[2018-09-18 17:09] radex opened #42 "Improve error messages (for non-Flow users)"
There is a lot of places in Watermelon where it's easy to make a mistake and make the app break with a strange error message — except that Flow can catch those errors before we even run the code.

Still, some of those errors may be hard to understand to someone not familiar with Watermelon internals and especially if you don't use Flow.

A good example is Schema: https://github.com/Nozbe/Watermelo

[2018-09-18 17:47] radex opened #43 "Improve web demo for mobile"
- [ ] remove 300ms delay on iOS
- [ ] add the CSS prop iOS needs to get smooth scrolling views
- [ ] responsive layout?

Contributions welcome!

[2018-09-19 05:51] panr commented on #43
I’m on it 😎

[2018-09-19 07:15] wcandillon commented on #21
My understanding is that `[declarations]` doesn't work at the moment. Am I correct? I'm also confused on how people are able to use latest versions of Flow successfully with React/React Native. The documentation doesn't seem to indicate any pairing between flow versions and React/RN versions.

The way I use flow is by ignoring type errors that come from dependencies. But this only works in version

[2018-09-19 09:16] sienkashing commented on #21
I tried using `[declarations]` to no avail as well. In the end, when it comes to handling third party flow-typed definitions, I resorted to using [flow-typed](https://github.com/flow-typed/flow-typed) to do away with the headache of managing incompatible flow definitions.

**What I normally do:**
1) Ignore `.*/node_modules/.*` in my .flowconfig file
2) Run `flow-typed install` for flow-typed to sc

[2018-09-19 13:29] jamesisaac commented on #21
Hmm yeah weird, `[declarations]` not seeming effective for me either.  It's [in the documentation](https://flow.org/en/docs/config/declarations/) so not sure what the issue is.  I've left a comment in the original PR: https://github.com/facebook/flow/pull/4916#issuecomment-422801264

I think when a project is written with Flow types in the source code itself, there could be benefits to exporting t

[2018-09-19 13:30] wcandillon commented on #21
@jamesisaac that's a great tip thks 👍🏻

[2018-09-19 13:45] radex commented on #21
Exactly! This seems so much better than trying to separately maintain the types in an external place...

[2018-09-19 16:48] greenkeeper[bot] opened #45 "An in-range update of prettier is breaking the build 🚨"
## The devDependency [prettier](https://github.com/prettier/prettier) was updated from `1.14.2` to `1.14.3`.

🚨 [View failing branch](https://github.com/Nozbe/WatermelonDB/compare/master...Nozbe:greenkeeper%2Fprettier-1.14.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

prettier is a devDependency of this project. It *

[2018-09-20 04:34] isurusiri commented on #6
Hi guys, Nice work 👏

I created a sample using my fork of WatermelonDB in [GitBook](https://gitbook.io). If that meets the requirements maybe we could consider it as an option.

[Check it out >>](https://isurus.gitbook.io/watermelondb/)

[2018-09-20 08:19] radex commented on #6
Hey @isurusiri, good stuff — is there a way to (easily) add API docs from the JS source?

[2018-09-20 09:37] theVasyl commented on #5
Hi, @radex , thanks a lot for the project! Very timely.

I will also abuse this thread for some clarification questions. =)

Maybe you could help clarify the following:
There seems to be a `_status` attribute (usage clear), but also a `syncStatus` attribute.
Might be I misunderstand smth... How is `syncStatus` to be used (if at all)?

Thanks a lot for your help.
(And for the lib, again)

[2018-09-20 09:42] radex commented on #5
Might be I misunderstand smth... How is syncStatus to be used (if at all)?

Sorry for the confusion: the synsStatus _property_ is a `@field('_status')`. That is, there's `_status` column in the database, but in javascript, it's available as `record.syncStatus`. So it's the same thing.

[2018-09-20 09:45] theVasyl commented on #5
Thanks a lot.
Thought that much, but wasn't sure.

[2018-09-20 11:05] isurusiri commented on #6
I think [documentationjs](http://documentation.js.org/) is what you are looking for, if I'm correct.

Also if docs are in MD format, GitBook can simply import the content and sync all future updates.

[2018-09-20 11:11] radex commented on #6
Hmm @isurusiri… if I understand correctly, this requires documentation comments specifying params, returns, etc… This seems like a waste of developer time, given that we use Flow and so a Babel-based script should be able to just extract all available methods, type information about those methods, a comment above, and spit out HTML docs.

Do you know of a tool that could do something like that? IT

[2018-09-20 11:34] isurusiri commented on #6
Yeah, got it. I'm not aware of such a tool but I'll look into it.

[2018-09-20 11:34] radex commented on #6
thank you!

[2018-09-21 09:32] #45 closed

[2018-09-21 19:31] lucasvog opened #50 "No directory @nozbe/watermelondb/adapters"
After installing the database, a error showed up saying

After inspecting the dependencies it looked like that the folder was located into the watermelondb/src/ folder. After copying the adapter folder to watermelondb/adapters, a new error occured, stating

This breaks the app so hard that it will not build even after undoing everything related to WatermelonDB, removing the "build"-Folder, and so

[2018-09-21 20:39] lucasvog commented on #50
It is

as it is react native 0.57.0

[2018-09-21 21:19] lucasvog commented on #50
I just checked and the same error occurs on react native 0.56.0, with
.babelrc:
[code]
and
[code]

[2018-09-22 11:12] radex commented on #50
this doesn't look right. Your app shouldn't be importing /node_modules/@nozbe/watermelondb/adapters/sqlite/index.js, but rather …/watermelondb/cjs/adapters/sqlite/index.js.

So it looks like Metro is not picking up changes from your babel config (which rewrites imports).

Have you tried killing the packager, removing all Metro caches, and restarting packager without cache? (look up RN docs for thi

[2018-09-23 09:12] tbergq commented on #40
I got this same error, so I went to the docs. Adding `<appname>-Bridging-Header.h` solved the problem for me.

[2018-09-23 10:02] ikhsanalatsary opened #51 "Is watermelon safe to store sensitive data?"
I just curious about it.

[2018-09-23 20:02] danushan1246 commented on #40
@radex

[2018-09-23 20:11] lucasvog commented on #50
I resetted everything. At first, the app launched, however this error showed up:
[code]

As it looked like it started, however database transactions where not possible. I also started from scratch (again) and the same error occured. After trial and error the  `:CFBundleIdentifier` - Error showed up again.

Now to the strange part. I started the example app provided in this repo, and it started wit

[2018-09-23 20:21] alanbuchanan opened #53 "Using `globalObject: 'this'` in ejected CRA webpack.config.dev breaks the webpack-dev-server"
### Description of Issue
I am trying to set up a WatermelonDB project for web, by reading the documentation [here](https://github.com/Nozbe/WatermelonDB/blob/master/docs/Installation.md). I set up a create-react-app app and ejected (by running the `eject` script) to allow me to edit the webpack.config.dev file so that I can add the necessary lines of code. However, the build breaks when I add `glo

[2018-09-23 20:49] alanbuchanan commented on #53
Closing, abandoning using CRA in favour of a [lighter boilerplate](https://github.com/KleoPetroff/react-webpack-boilerplate).

[2018-09-23 20:49] #53 closed

[2018-09-23 20:57] alanbuchanan opened #54 "Web installation: webpack-dev-server crashes on last step from docs (LokiJS adapter)"
### Description of Issue
I am using [these docs](https://github.com/Nozbe/WatermelonDB/blob/master/docs/Installation.md) to set up a WatermelonDV project. I'm using [this boilerplate](https://github.com/KleoPetroff/react-webpack-boilerplate). Installation is all fine up to the last step where I need to `import LokiJSAdapter from '@nozbe/watermelondb/adapters/lokijs'`.

### Error message in console

[2018-09-24 09:09] ymahnovskyy opened #56 "Add backward compatible migrations for database schema changes"
First, thank you for such promising tool. I'm considering to use WatermelonDB in react-native app. For me that's will be enough possibility to recreate local database from scratch.  As I see now the easiest way is  to create new db and drop old one. So, as I understand for creating we can just change db name? Is there some possibility to drop old db?

[2018-09-24 09:12] radex commented on #56
Right, currently the only way to migrate is to create a new database (you can make a new SQLiteAdapter with a different database name) and manually move the data.

Not currently.

* * *

**Real migrations are coming soon**. This is something I'll be working on this week and in the coming weeks. I know that this is very crucial for anyone who wants to use Watermelon in production.

[2018-09-24 09:14] radex commented on #50
[code]

Those errors indicate missing Swift. See point 3 here: https://github.com/Nozbe/WatermelonDB/blob/master/docs/Installation.md#ios-react-native

Let me know if this fixes it

[2018-09-24 09:33] rozPierog commented on #51
Android approach to this is not great, to say at least. All database files are kept in apps `/data/` folder from where they are free to grab for any rooted user. (non-root apps _should_ not be able to grab that file) That file can be read by any sql file reader. So if you want better than native security I would suggest some kind of hashing of data before inserting it in database or even better -

[2018-09-24 11:03] radex commented on #51
We should make some research into SQLite encryption then @rozPierog — I assume there's some Keychain-like API on Android for storing sensitive keys (like a database encryption key), right? And I know that SQLite has encryption capabilities on top of it (but we'd have to bundle our own version of sqlite into the app in that case)

[2018-09-24 11:14] lucasvog commented on #50
Aw shoot the last one I could have easily found out myself.... Sorry.
It now works, thanks a lot!

[2018-09-24 11:19] rozPierog commented on #51
@radex there is [Keystore](https://developer.android.com/training/articles/keystore), I've just skimmed thrugh it and it seems like good equvalent of iOS Keychain. Bundling our own SQLite can be expensive on apk size and performance, if we are going to do that that should be an option. Not everyone stores sensitive data on device.

[2018-09-24 12:14] radex commented on #51
@rozPierog OK — can you add this to 🍉 backlog in Nozbe? We should probably research this for our purposes.

[2018-09-24 12:14] radex commented on #51
@ikhsanalatsary Does this answer your questions? If so, please close the issue :)

[2018-09-24 12:15] radex commented on #50
@lucasvog Phew. Glad it works. I know the Installation guide is pretty long and complicated. We're working on simplifying it.

Is there something we could do to improve the Install guide, a reason why you missed this step? If so, please hit the edit button on the guide and send a pull request with an improvement!

[2018-09-24 12:49] ikhsanalatsary commented on #54
maybe you forgot to install loki `yarn add lokijs`

[2018-09-24 12:51] ikhsanalatsary commented on #51
@radex Yes, I hope it will implement it in this lib. thank you so much for the answer

[2018-09-24 12:51] #51 closed

[2018-09-24 14:04] #3 closed

[2018-09-24 14:04] radex commented on #11
@Aidurber Hey, did you end up using WatermelonDB more? If so, it would be great if you could contribute this improvement :)

[2018-09-24 14:05] radex commented on #30
@Kabangi is this a solved issue?

[2018-09-24 14:06] radex commented on #40
@theixbass is this a solved issue?

[2018-09-24 14:12] radex commented on #54
[code]

that seems strange — looks like you have web pack `worker-loader` (you did install and configure it yourself on top of the boilerplate, correct?) set up, but it fails. I have no idea why that would happen to be honest.

[code]

So let me get this straight — you're saying the app works correctly when you `yarn add lokijs` (that is a necessary step), but _webpack_ shows a warning? Not the ap

[2018-09-24 14:13] radex commented on #54
Hmm, just realized, the installation guide https://github.com/Nozbe/WatermelonDB/blob/master/docs/Installation.md doesn't say you have to `yarn add lokijs` — if you get your app to run successfully, would you mind updating the guide? You can send a quick pull request via web browser

[2018-09-24 15:27] Kabangi commented on #30
From my end yes but I think the library need some love in that respect to help users spot errors much fast than the current state.

Solving this issue https://github.com/Nozbe/WatermelonDB/issues/42 might be the first step to that end

Am currently learning swift as an attempt to make a contribution to the library instead of requesting. Hoping I can pick up quickly and work on this and the issue a

[2018-09-25 10:42] radex opened #60 "Add automatic test coverage measurements"
can Jest output this? do we need a separate tool for it?

would be great if measurements (and diff in test coverage) were output in pull requests. We could hook it up to Danger/Peril maybe.

[2018-09-25 10:43] radex commented on #30
Sure, agreed! Let me know if you have specific troubles with contributing — and thanks for the interest!

[2018-09-25 10:44] radex commented on #11
@Aidurber Understood! Don't apologize, and thanks for your interest! Let me know if you wanted to get hacking with Watermelon and had any specific troubles

[2018-09-25 13:20] kroltan commented on #29
Status update: Most of it has been typed, including all of the decorators (it was tricky to express that with strong types in TS, but thanks to the Reactiflux community a good soluton was found).

Only thing left now are the modules in `src/utils`.

Now that it's usable, I'll begin integrating WatermelonDB on our current project to validate if the typings are correct in practice.

Besides that, it

[2018-09-25 13:36] radex commented on #29
Why do you need this? This would only be necessary if you want to import Watermelon utils for your own use, and I don't _think_ we talk in the documentation about that (do we?)

[2018-09-25 13:45] kroltan commented on #29
Oh okay, I was just plowing through every single module and typing them. Then scratch that part :)

[2018-09-25 16:17] kenma9123 commented on #5
Do you guys have sample implementations? I would rather want to see a live code if possible :)

[2018-09-26 08:17] radex commented on #5
Not yet from me. @theVasyl, @fletling did you get the sync to work on your side? Do you have code snippets to share maybe? :)

[2018-09-26 12:40] radex commented on #56
@ymahnovskyy I'm working on this now. Check out https://github.com/Nozbe/WatermelonDB/pull/62 and let me know if this basic API would satisfy your needs

[2018-09-28 11:14] #20 closed

[2018-09-29 07:35] #22 closed

[2018-10-01 19:27] venkatd commented on #29
@kroltan I think the best approach here would be to only add typescript definitions to things accessed by the public api. That way if internals change, it won't be necessary to rework the public api definitions.

[2018-10-02 09:35] radex commented on #29
That makes sense. Internals change frequently, and most of that is invisible to normal use of Watermelon.

[2018-10-04 02:13] bsr203 commented on #50
I am struggling with the same error.

[code]

I did clear all cache, node_modules and recreated emulator image etc. Still same error. Relevant changes as part of this installation

babel.rc
[code]

index.js

[code]

package.json

[code]

build.gradle

[code]

settings.gradle
[code]

app/build.gradle

[code]

MainApplication.java

[code]

please let me know if you could see any mistake in my setup

[2018-10-04 02:28] bsr203 commented on #50
ok, I saw you removed `@nozbe/watermelondb/babel/cjs`, so updating to `@next` solved the issue

[code]

thanks

[2018-10-04 02:41] bsr203 opened #69 "Qn: props for `withObservables`"
Hi,
Looking at the example code, I see [this comment](https://github.com/Nozbe/WatermelonDB/blob/master/examples/native/src/components/helpers/Navigation.js#L13)

[code]
I know, `react-navigation` wont pass the props, and normally you achieve this with [extending the navigator](https://reactnavigation.org/docs/en/custom-navigators.html)

Please let me know what all props `withObservables` needs to

[2018-10-04 10:10] radex commented on #69
@bsr203 `withObservables` is only used to inject whatever you want to observe into one specific component. You don't need to pass it through deeply.

The comment you're linking to refers to the `database` object which you might need to make a global query — it's probably best to just use a `React.Context` to pass this object into your component hierarchy. See:
https://github.com/Nozbe/WatermelonDB

[2018-10-04 10:10] radex commented on #56
thanks @febeling !

[2018-10-04 10:11] radex commented on #54
@alanbuchanan did you get to take a look at this? did you get this problem fixed or did you end up giving up?

[2018-10-04 10:11] radex commented on #50
@bsr203 that's strange, upgrading to `@next` shouldn't be necessary, but as I understand the issue is fixed?

[2018-10-04 10:12] radex commented on #40
I assume it is — closing this now. @theixbass let me know if this issue should be reopened

[2018-10-04 10:12] #40 closed

[2018-10-04 10:28] bsr203 commented on #50
ya. it went well with @next branch. thanks again for taking the time to respond. Cheers.

[2018-10-04 10:29] radex commented on #50
OK, closing this now.

[2018-10-04 10:29] #50 closed

[2018-10-04 10:31] bsr203 commented on #69
thanks. that indeed answered the question.

[2018-10-04 10:31] #69 closed

[2018-10-04 10:46] bsr203 commented on #50
@radex sorry. I was too early to say everything went well. I got upto missing `Symbol` and as advided tried to use with jsc. Now getting build failure.

[code]
please advise. thanks.

[2018-10-04 10:54] bsr203 commented on #50
@radex sorry. I made a configuration mistake. I thought you may replace `react-native/android"`, with `jsc-android/dist"`, but we need both like.

[code]

thanks again

[2018-10-04 14:19] bsr203 opened #71 "Require cycles"
Hi just noticed this warning on chrome console while debugging.

[code]

Is it possible to avoid this?

thanks.

[2018-10-04 14:31] radex commented on #71
yes, `simpleObserver` imports a constant from Collection it shouldn't need to. That constant should be moved to Collection/common.js. Feel free to send a pull request

[2018-10-04 14:33] sebastian-schlecht commented on #5
Working with @fletling and @theVasyl here.

We're currently struggling on how to get all deleted records from a specific table? Is it possible to include deleted items in the result when querying against a specific table?

``collection.query(Q.where("_status", Q.notEq("synced"))).fetch();``

does not work because _status != deleted is always added to the underlying query.

[2018-10-04 14:36] radex commented on #5
@sebastian-schlecht

https://github.com/Nozbe/WatermelonDB/issues/5#issuecomment-419078673 — you can only get the IDs of the deleted records. That should be enough, since… well… they're deleted, so you only want to delete them on the server, correct? Or is there a specific reason why you need the full details of the record marked as deleted?

[2018-10-04 14:57] bsr203 commented on #71
@radex  please see https://github.com/Nozbe/WatermelonDB/pull/72

[2018-10-04 18:32] theVasyl commented on #5
@radex Thanks for your help!
As to your question regarding code samples: Everything still very much WIP.

Adapted our prototype sync workflow to use `getDeletedRecords` and `destroyDeletedRecords`.
We were wondering, if there is a good reason those two work through the `adapter` and not on `collection` level. Seems an implicit `collection` argument would make them more generic, no?

[2018-10-04 19:54] gzumaglini opened #73 "Many to many Relationships"
Thank you for your awesome work on this library!

My question:
Is there support (planed?) for many-to-many relationships?

Example:
I have a cookbook table. A cookbook belongs to a specific user.
I have a recipe table.
A recipe can belong to many cookbooks (a user can „favorite“ the recipe in his personal cookbook).

This could be solved using a associative/pivot table containing foreign keys to t

[2018-10-05 10:09] radex commented on #73
Exactly. There's no explicit support needed for this. Simply create a new model (say, RecipeCookbookMembership), and both Recipe and Cookbook would have a `has_many` association to it, and `RecipeCookbookMembership` would have a `belongs_to` association for both. And you could easily write a query on Recipe to get all cookbooks, and on Cookbook to get all recipes.

Let me know if that makes sense.

[2018-10-05 10:09] radex commented on #71
fixed

[2018-10-05 10:09] #71 closed

[2018-10-05 10:12] radex opened #74 "Fix Metro settings so that it only looks into src/"
Currently, integration tests -- `yarn test:ios` and `yarn test:android` fail if there's a dev/ or dist/ folder from the build script, or if node_modules are installed in examples/.

This is annoying and makes it so that we can't add integration tests as part of the publish script.

I tried changing project source to src/, but that would fail for some reason

Could someone take a look at this?

[2018-10-05 10:13] radex commented on #74
@mobily i know you had a similar issue in a different project, did you figure it out?

[2018-10-05 10:17] radex commented on #5
I guess this is just used for sync, so I didn't think that it's necessary to expose it to Collection.

And if you're asking why it just returns IDs — we figured this is enough, will be more performant, and there were some concerns about caching/consistency, but I don't remember the details. I have to dig through internal documentation and open-source that too

[2018-10-05 10:28] theVasyl commented on #5
Yes, we want to use it for sync as well. Currently looking into building a generic sync mechanism for all our models. And how to pass the model names. That's the reason for the question.

Yes, understood the reasoning behind IDs from the previous responses.

[2018-10-05 10:40] alanbuchanan commented on #54
@radex sorry for the delay. I saw the lokijs instruction has been added to the readme by now anyway. I had trouble setting up a project due to other separate problems I encountered but I will create new issue(s) for these.

[2018-10-05 10:40] #54 closed

[2018-10-05 14:16] davidwadge commented on #40
@theixbass I have the same problem with Expo, how did you resolve in the end?

[2018-10-05 14:50] theixbass commented on #40
I did not...

[2018-10-05 14:54] davidwadge commented on #40
Okay, clearly this is not suitable for Expo at this time then. Back to RxDB it is...

[2018-10-05 15:07] tbergq commented on #40
Yeah, makes sense, you probably cannot add swift files to expo project.

[2018-10-05 15:12] radex commented on #40
I believe you can eject to ExpoKit and then just go through standard Installation steps: https://docs.expo.io/versions/latest/expokit/expokit

[2018-10-05 16:24] Dodotree opened #76 "Err on attempt to get list of child objects"
The query gets the parent object from db by id. -> MyObjectInstance

MyObjectInstance = await database.collections.get('parentTableName').query(Q.where('id', id)).fetch();

When I try to to get MyObjectInstance.collectionOfAssociated, I get:

Exception: TypeError: Cannot read property 'query' of undefined at MyObjectInstance.get
at MyObjectInstance.remoteFunction (<anonymous>:2:14)]

But it works

[2018-10-08 10:35] radex commented on #76
[code]

why do you query by ID? The correct API for this is `collection.find(id)`

[code]

Like the error says, `database.collections.get('parentTableName')` is undefined. Which means that you either have a typo in the table name, or you forgot to add your new Model to Database constructor (see https://github.com/Nozbe/WatermelonDB/blob/master/docs/Model.md#create-a-model )

[2018-10-08 14:38] Dodotree commented on #76
Totally missed inserting model reference into table description. Thank you very much for pointing that out! (Since I was not the only one who somehow missed that, maybe it will help others to stress it out more in the documentation. Because it doesn't give you a clear failure when you create tables and models, only later you have problems with associated queries) Thanks again.

[2018-10-08 15:08] radex commented on #76
Agreed! You can shoot us a quick pull request with an improved documentation and I'll be happy to merge it in ;) And we could use more sanity checks to show error messages instead of cryptic messages, there's also an Issue explaining how to start working on that if you'd like: https://github.com/Nozbe/WatermelonDB/issues/42

[2018-10-09 13:41] radex commented on #5
Why do you need that?

[2018-10-09 13:50] sbtly opened #79 "Is it okay to use WatermelonDB with MobX?"
I'm using MobX in my project.
After reading the docs, I think I might have to choose between MobX + some other DB(eg. pouchDB) or WatermelonDB, since both MobX and WatermelonDB will automatically update components with 'observing' feature.
Is this right? or is it okay to use MobX and WatermelonDB together?

Also, I use MobX's 'computed' feature a lot in my project.
For example, there's **@observab

[2018-10-09 13:54] radex commented on #79
Sure, I think using MobX as a local state management system + WatermelonDB as the database should work just fine.

[2018-10-09 13:57] theVasyl commented on #5
The current setup is a local WatermelonDB containing all the projects for a given user.
Projects have Tickets, Attachments etc.

Syncing all projects at once would take too long and use too much data.
And is actually not needed.

So trying to make the sync functionality work project wise.
So only sync all tickets for the current project, f.e.

This seems to work except for the deletion part.
The m

[2018-10-09 14:02] radex commented on #5
So currently looking for a workaround for that.

I can't promise this is going to work *correctly* all of the time, as it really wasn't designed to do so, but I think this workaround might work:

[code]

Let me know if this works. It might be easier if you sync deletions all at once, or if you fetch data for sync all at once but just send it in batches...

[2018-10-09 14:10] sbtly commented on #79
Interesting!
But wouldn't it cause component to be updated twice every time some value changes?

for example,
[code]

user changes **@observable myColor** ->
mobX will update related component ->
mobX's changed observable value will update watermelon's **color.value** ->
watermelon will update related component **again**

This is what I think might happen when using MobX and WatermelonDB together.

[2018-10-09 14:13] radex commented on #79
I don't get it. Why do you want to use both MobX and Watermelon to manage the same data? I get using MobX as local-state-only library, but why go through MobX to modify persistent data?

[2018-10-09 14:30] theVasyl commented on #5
Thanks!
Our first intuition is that this wouldn't work, because `fetch` doesn't return deleted objects (as discussed further above).
But will test shortly and report.

[2018-10-09 14:31] sbtly commented on #79
oh, now I see.
This is my first time trying backend myself.
So I got all mixed up about how to deal with data.

I'll try using MobX + WatermelonDB then!
Thanks for the quick reply :)

[2018-10-09 14:31] #79 closed

[2018-10-09 14:36] radex commented on #5
Right! But this is because `Query.constructor` rewrites your query to add `Q.where('_status', Q.notEq('deleted'))`. That's why `query.description = query._rawDescription`. But like I'm saying, this is not covered by tests, so it might not work

[2018-10-10 14:50] bsr203 opened #83 "Qn: In memory database for react-native"
Hi,

I tried to use `lokijs` to run my test / storybook with sample data. Do you see issues using this adapter on react-native env. I currently get
[code]

[2018-10-10 14:56] radex commented on #83
You'd probably need to mock `fs` so that there's no bundler error, and also tweak the adapter initializer code so that you can use an in-memory database.

But you could also tweak the SQLite adapter to allow in-memory databases. That would be easier.

Both already work, but only in test environment. It wouldn't be difficult to change. I can give you pointers if you can send a pull request adding t

[2018-10-10 15:01] bsr203 commented on #83
sure. may be sqlite inMemory mode is better as we don't need other drivers and dependencies. I think it will be useful for testing in isolation. thanks

[2018-10-10 15:03] radex commented on #83
Well, I assume you're already using the React native native module for SQLite, so there's no extra dependencies.

Loki should work too. We use that in common tests (but that runs in Node)

[2018-10-10 15:05] radex opened #84 "[Migrations] Allow custom manual data migrations"
https://github.com/Nozbe/WatermelonDB/pull/62#issuecomment-426970096

This is going to be tricky to do, because:

- we can only (reasonably) work on untyped data
- it messes up the queuing logic. In the custom data migration block you need to be able to call find, query, and batch, but they need to be somehow treated differently than the enqueued find/query/batch that happens after the setup
  - c

[2018-10-10 15:06] radex commented on #84
Not going to work on this anytime soon — PRs welcome if anyone wants to tackle this

[2018-10-10 15:07] bsr203 commented on #83
so is there an easy way to configure the adapter to pass through [:memory](https://www.sqlite.org/inmemorydb.html) config

[2018-10-10 15:10] radex opened #85 "[Migrations] Warn about incompatible schemas"
We could make schemas and migrations safer by warning in development mode about incompatible schemas.

Example:
- I run the app with schema version 5, and tables A, and B
- I change the schema to have tables A, B, C, but don't change the schema version

Currently: nothing will happen. If developer resets database, table C will work, and you'd be able to ship the change to the schema, which could b

[2018-10-10 15:12] radex commented on #83
I already said:

[2018-10-10 15:14] bsr203 commented on #83
:-) I was asking about the pointers you said. quickly searched through the codebase and didn't find the driver setting. Sorry, didn't look through all the code yet.

[2018-10-10 20:40] Aidurber commented on #11
@radex I've got to work on this, got a couple more tests I want to write tomorrow. Just one question regarding your feedback.
You're passing the adapter and the models to the provider, am I correct in assuming the provider will create the database?
If that's the case isn't there a possibility of a new Database instance being created on rerenders? Wouldn't it be safer to just pass the database inst

[2018-10-11 14:21] radex commented on #83
@bsr203 You'll have to start from this branch, not master, as there were changes in this area:

https://github.com/Nozbe/WatermelonDB/pull/70/files#diff-010253597e9bd62ff04e3105667f6b66R45

right now, the database name is passed directly to sqlite only in test mode, otherwise documents filesystem path is prepended.

This can be changed so that if dbName is `:memory:` or contains `mode=memory`, it'

[2018-10-11 14:39] bsr203 commented on #83
@radex thanks for the details. I probably can't get to it right away, and let you know. thanks.

[2018-10-11 15:47] brandondrew commented on #5
In the case of a conflict between server and client, do I correctly infer from what is above that my code will be able to determine what to do?

(For contrast, and to explain why I ask, GunDB—last time I looked at it—seemed more concerned with having a perfectly deterministic resolution algorithm than with allowing the developer to control the resolution and determine which data is worth preservin

[2018-10-11 17:44] Aidurber commented on #29
I'm happy to update the definitions for the DatabaseProvider and withDatabase HoC when the initial TS definitions and my PR land, unless @kroltan wants to pick them up. It's literally just a `database:Database` prop.

[2018-10-11 18:01] kroltan commented on #29
Heyo! Sorry, have been rather busy with life stuff lately, couldn't pick this up. Things have cleared up though.
I'm hoping for some time for it on Sunday, the only thing left to do is to delete the internals typings, and double-check the packaging.

[2018-10-12 11:01] radex commented on #5
Yes, it's up to you. The information you have during sync is:

- What's the current state of the client version
- Which fields changed since last sync on client version
- What's the current server version

So you could hook up UI to show both versions somehow and let user decide. The easiest resolution scheme is to use server version, and apply fields changed locally since last sync from local ver

[2018-10-12 17:09] WillDent opened #91 "DatabaseBridge.swift - Expression pattern of type 'String' cannot match values of type 'String?'"
Build works fine on Android, just on iOS having this issue. Tried inside of Xcode and from command line.

Xcode version: 9.2 (9C40b)

"dependencies": {
    "@nozbe/watermelondb": "^0.6.0",
    "@nozbe/with-observables": "^1.0.0",
    "jsc-android": "224109.x.x",
    "react": "16.5.1",
    "react-native": "0.57.1",
    "react-native-prompt-android": "^0.3.3",
    "react-navigation": "^2.12.1"
  },

[2018-10-12 17:43] radex commented on #91
Try on Xcode 9.4 or later

[2018-10-15 15:54] bsr203 opened #93 "Unhandled Promise Rejection if column doesn't exist"
Hi,

I am getting an unhandled exception error.

It is because I renamed the field, and may solve by recreating or changing the version. But like to know where I can handle similar error in the future. Can you please give an idea which API call is resulting this error.

[code]

[2018-10-16 09:03] radex commented on #93
you need to have a column in the schema. currently you have to change the schema version to reset the database (to add it). documentation for migrations is coming soon

[2018-10-16 11:00] bsr203 commented on #93
thanks. I was mainly asking whether I can do exception handling (try catch / ...)  somewhere so I can log it or take appropriate action. Hope it is part of migration

[2018-10-16 11:00] #93 closed

[2018-10-17 19:07] greenkeeper[bot] opened #95 "An in-range update of webpack is breaking the build 🚨"
## The devDependency [webpack](https://github.com/webpack/webpack) was updated from `4.20.2` to `4.21.0`.

🚨 [View failing branch](https://github.com/Nozbe/WatermelonDB/compare/master...Nozbe:greenkeeper%2Fdefault%2Fwebpack-4.21.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

webpack is a devDependency of this project.

[2018-10-18 04:56] creatorrr opened #96 "RFC: Creating firestore sync engine for watermelondb"
Hey @radex @nozbetravis @Nozbe, first of all thank you and congratulations for the amazing work on watermelondb! I have been playing around with the API and am beyond impressed. Was thinking of creating a sync engine with [Google Cloud Firestore](https://cloud.google.com/firestore/) as the backend as a weekend project and had some questions:

1. Is the sync engine API stable enough for such an und

[2018-10-19 01:30] Slapbox commented on #40
Are there any plans to attempt to support Expo?

[2018-10-19 07:15] greenkeeper[bot] opened #98 "An in-range update of react-native-prompt-android is breaking the build 🚨"
## The dependency [react-native-prompt-android](https://github.com/shimohq/react-native-prompt-android) was updated from `0.3.3` to `0.3.4`.

🚨 [View failing branch](https://github.com/Nozbe/WatermelonDB/compare/master...Nozbe:greenkeeper%2Fdefault%2Freact-native-prompt-android-0.3.4).

This version is **covered** by your **current version range** and after updating it in your project **the build

[2018-10-19 08:03] greenkeeper[bot] opened #99 "Invalid Greenkeeper configuration file"
We have detected a problem with your Greenkeeper config file  🚨

Greenkeeper currently can’t work with your `greenkeeper.json` config file because it is invalid. We found the following issue:

1. Could not parse `greenkeeper.json`, it appears to not be a valid JSON file.

Please correct this and commit the fix to your default branch (usually master). Greenkeeper will pick up your changes and try a

[2018-10-19 08:13] radex commented on #96
Probably!

Please contribute! :) A lot of people are asking for this

Don't know

I'm not sure I understand, but I'm not familiar with Firebase. You were asking about **synchronization** which made me think you want to use LokiJS/SQLite and then add a sync engine, so make HTTP requests and connect it to Watermelon.

But it now seems you're asking about **database adapter**, which is a different th

[2018-10-19 08:13] #99 closed

[2018-10-19 08:15] #95 closed

[2018-10-19 08:15] #98 closed

[2018-10-19 08:16] radex commented on #40
@Slapbox you can eject to ExpoKit. If you want easy built in support in Expo, you have to contact Expo ;)

[2018-10-19 08:19] davidwadge commented on #40
To be honest I think it's in your interest to support Expo. Ejecting gives a developer far more choice when it comes to ORMs - you could use Realm, for example. Keeping everything in JS has significant advantages for many development teams.

[2018-10-19 08:28] davidwadge commented on #40
The advantage of using Expo is that you keep your codebase _entirely_ in JS. Ejecting turns your codebase into a more native-y one, meaning I could just as well use another ORM, such as Realm for example.

[2018-10-19 08:30] radex commented on #40
Right. That's good, no?

[2018-10-19 08:32] davidwadge commented on #40
Imagine you have a team of predominantly React web developers who have little to no experience with native iOS or Android development. In that circumstance, you want to keep as much as possible in JavaScript, which is why Expo exists.

[2018-10-19 08:35] radex commented on #40
That's cool, but what does that have to do with WatermelonDB? I don't decide what's part of the Expo SDK.

[2018-10-19 15:59] theVasyl opened #102 "Write up preferred way to reset local database"
What would be the recommended way to trigger a complete deletion (and recreation) of the database?

[2018-10-19 16:01] radex commented on #102
`database.unsafeResetDatabase()`

note that it's "unsafe" because it doesn't update query or model observers. Which means this is only safe to do when there are no `withObservables`-enhanced components mounted in the component tree, and you're not going to reuse any `Model` instances you may have stored.

Feel free to contribute an update to documentation (and Database/index.js comment) that clari

[2018-10-19 16:41] theVasyl commented on #102
Thanks for the quick info, @radex .

What exactly do you mean by "stored" model instances. The ones currently in the db?
Anything that is currently used by some component?

A quick check revealed that our current navigation setup in no way satisfies these conditions.
Will check, but if it proves too cumbersome, our take on the solution will have to wait for a sprint or even a couple. Sorry.

[2018-10-19 17:18] radex commented on #102
Anything that is currently used by some component?

Essentially any Model instance you have in the JavaScript — don't touch it anymore, since after reset it won't correspond to something in the database.

What we do is we have a "isLoggedIn" React context, and in the root of the component tree, if we're not logged in, we display components that don't use Watermelon.

[2018-10-21 03:38] developerium opened #103 "Raw Queries"
Hi

Is there anyway we can run custom queries on database?

Is there anyway we can access database directly?

[2018-10-21 10:08] alex-min opened #104 "Records not saved properly"
Hello,

Thanks for all the work on the library, it's exactly what we need on react-native, the api & the code is slick :).

I have a very strange issue which is hard to debug, I spent about two days of debugging but I can't find the root cause of it. I used the examples/native as a base start of my project so everything is setup mostly the same way.

When I save a record, it works temporally (the

[2018-10-21 15:41] bsr203 commented on #103
I used to be able to connect to the sqlite database through https://github.com/facebook/stetho

you can see the instructions at https://facebook.github.io/react-native/docs/debugging#debugging-with-stetho-http-facebookgithubio-stetho-on-android

But, not sure what changed, I cannot see my WatermelonDB database though `stetho` anymore, but other sqlite dbs. I like to know how people normally does i

[2018-10-22 04:10] anhtbok92 opened #105 "Is there a tool like realm studio? for example: watermelonDB studio"
Hi, currently I'm working with React Native, using watermelonDB. Sometimes, I want to check my data in the database, but there is no way. I am wanting to have a tool like realm studio or mysql workbench. Is there any way to do the same thing?
Thank you.

[2018-10-22 10:54] bsr203 commented on #105
try [this](https://github.com/Nozbe/WatermelonDB/issues/103#issuecomment-431679273).

It was working well earlier for me. May be due to my setup, it is not now in another project. Please let me know how it goes with you.

[2018-10-22 11:20] radex commented on #103
Not currently. What exactly are you trying to achieve?

[2018-10-22 11:22] radex commented on #104
when you do:

[code]

try `console.log(acc._raw)`. Does it say what you'd expect?

[2018-10-22 16:46] MrTinyByte commented on #103
I want to make a report on several tables, a sum report on multiple joined tables.

[2018-10-23 08:31] radex commented on #103
https://github.com/Nozbe/WatermelonDB/blob/master/src/adapters/sqlite/index.js#L162

this is the code that executes the query. The query will pass through `encodeQuery` to generate SQL. You could maybe extend `Query` or make a new `RawQuery` object or something like that to be able to pass raw SQL. Contributions welcome.

If you want a quick & dirty hack (but I warn you that it's very dirty, might

[2018-10-23 08:32] radex commented on #104
OK, I think I know what this is. I think you have misconfigured decorators support in your Babel config file. When you set `account.name = 'x'`, you literally set `account.name` instead of calling the utter that will update `account._raw.name`

Have you gone through Installation guide step by step? Do you have the "legacy" option for decorators set to true?

[2018-10-23 17:08] Slapbox commented on #40
If people want WatermelonDB support in Expo, this is the place to make it known: https://expo.canny.io/feature-requests/p/add-support-for-watermelondb

[2018-10-24 01:35] greenkeeper[bot] opened #106 "An in-range update of react is breaking the build 🚨"
## There have been updates to the *react* monorepo:

 + - The `devDependency` [react](https://github.com/facebook/react) was updated from `16.5.2` to `16.6.0`.

🚨 [View failing branch](https://github.com/Nozbe/WatermelonDB/compare/master...Nozbe:greenkeeper%2Fmonorepo.react-16.6.0).

This version is **covered** by your **current version range** and after updating it in your project **the build fai

[2018-10-24 11:40] thanhtung6824 opened #107 "How to create and query relation field?"
I follow docs and create relation between two fields . When I insert comment i do :
 const newPost = await postsCollection.create(post => {
  post.title = 'New post'
  post.body = 'Lorem ipsum...'
  post.author = author.id
})

When I query post I get post.author = '' . Where is my wrong? Thank in advance

[2018-10-24 16:04] hamstercat opened #109 "Peer dependency warnings"
I'm using this library in a react-native project, so I have not added lokijs as a dependency. This is causing yarn to throw the following warning every time I run it:

`warning " > @nozbe/watermelondb@0.6.2" has unmet peer dependency "lokijs@^1.5.5".`

I'm guessing the same issue is happening to web projects with the react-native dependency.

My suggestion would be to move them to optionalDependen

[2018-10-24 16:39] radex commented on #109
hmm, is `optionalDependencies` right? I'm confused about the difference between the two. If you're on the web, the dependency is not optional, after all. Same with react-native. It's not a dependency for Watermelon itself, but if you do use SQLiteAdapter, it does need to be a certain version to work

[2018-10-25 03:46] anhtuank7c opened #110 "Link iOS module error"
## Environment:
[code]

## Error

<img width="733" alt="screen shot 2018-10-25 at 10 42 31 am" src="https://user-images.githubusercontent.com/3163410/47474797-f4205180-d842-11e8-8a0a-e8c7ad38c105.png">

[2018-10-25 09:06] radex commented on #110
please read the install guide. you missed a step

https://github.com/Nozbe/WatermelonDB/blob/master/docs/Installation.md

[2018-10-25 09:53] anhtuank7c commented on #110
@radex I already create a Bridging Header.  (Step 3)

[2018-10-25 09:58] thanhtung6824 commented on #105
Where is database file stored?

[2018-10-25 10:14] ieschalier opened #112 "Support like and notLike operator"
What do you think about add **like** and **notLike** operator to query ?

It could be a good optimization for applications with search feature in large amount of data.

## Proposal

[code]

[2018-10-25 10:17] ieschalier opened #113 "Support limit on query"
What do you think about add **limit** condition to query ?

If application have huge amount of data (like 100 000 records for one table), it could prevent a too much memory usage and loading time.

### Proposal

[code]

[2018-10-25 11:09] radex commented on #110
did you create an empty Swift file, and included it in the project?

[2018-10-25 11:09] radex commented on #105
**It would be great, if someone wanted to contribute an update to the documentation** explaining this!

[2018-10-25 11:12] radex commented on #112
this should be possible, not super difficult, but not trivial either. If someone wants to implement this, I can give guidance as for where to start

[2018-10-25 11:15] radex commented on #113
This is a harder problem than it seems

I think this is incompatible with observability without native sorting, which is very difficult because of this issue: https://github.com/Nozbe/WatermelonDB/issues/15#issuecomment-419710051

I think the right approach to handle limiting in Watermelon might be to do **chunking** based on some field, e.g:

[code]

[2018-10-25 11:43] ieschalier commented on #112
I'm ok to implement it. Can you give me some advice ?

[2018-10-25 12:17] radex commented on #112
Sure, you need these parts:

- QueryDescription/index.js is where operators are defined
- adapters/sqlite/encodeQuery is where the query is converted to SQL (react native)
- adapters/lokijs/encodeQuery is the same but for LokiJS (web)
- observation/encodeMatcher is where the query is encoded into a **matcher function**, which can tell whether a `Model` object matches a query or not. This is necess

[2018-10-25 14:36] anhtuank7c commented on #110
@radex My big mistake is removed `Swift` file right away then.
Everything looks good now. Thank you.

[2018-10-25 14:36] #110 closed

[2018-10-25 17:24] greenkeeper[bot] opened #114 "An in-range update of react-native is breaking the build 🚨"
## The devDependency [react-native](https://github.com/facebook/react-native) was updated from `0.57.3` to `0.57.4`.

🚨 [View failing branch](https://github.com/Nozbe/WatermelonDB/compare/master...Nozbe:greenkeeper%2Freact-native-0.57.4).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

react-native is a devDependency of th

[2018-10-26 07:05] radex commented on #7
right, this doesn't work for `id`. You can do `record._raw.id = myId`, but this might be unsafe — tell me what exactly you're trying to do

[2018-10-26 07:05] radex commented on #110
@anhtuank7c Do you think we could improve the Installation guide to make this more clear? You're not the first person who got tripped up by this step :) If so, please hit edit on the Installation.md file and send a quick PR

[2018-10-26 07:32] Kabangi commented on #7
I want to use the same `id` am getting from my server as the record `id`. This will help me simplify detection of whether a record exists on the local cache using the withObservable HOC before attempting to pull it from the server.

[2018-10-26 10:36] radex commented on #7
so when exactly would you want to assign an ID to the record? In the sync code? Can you give me a larger snippet of code?

[2018-10-26 12:58] ieschalier commented on #112
@radex My first PR to WatermelonDB has been sent 🙂. I'm waiting for your feedback

[2018-10-26 14:39] #106 closed

[2018-10-26 14:39] #114 closed

[2018-10-27 06:46] alex-min commented on #104
Yes indeed you were right, I have something wrong setup in the babelrc, I close the issue :)

Thanks a lot! :)

[2018-10-27 06:46] #104 closed

[2018-10-28 02:43] hamstercat commented on #109
Yeah that's the one. It should normally work with expected version in the same way as yarn does for peer dependencies (it will check for minimum and maximum version, and warn if the version used is not within the required range).

After playing a bit in the project, I think my suggestion of using it instead of peer dependencies may not be the appropriate solution though, optional dependencies are

[2018-10-29 00:31] rafaelcamaram opened #121 "Installation Issue - Babel"
I'm trying to use WatermelonDB on my project but, as I could see, I'm facing with some dependencies issues that are not allowing me to run the project.

I followed all the instructions gave at [INSTALLATION GUIDE](https://github.com/Nozbe/WatermelonDB/blob/master/docs/Installation.md) but the below error is displayed when the application is being open on my device.

**Dependencies:**
[code]

**Err

[2018-10-29 12:46] radex commented on #121
I don't see how this is related to Watermelon… Did you go through all the standard troubleshooting steps to restart packager, etc? At which point did the build break? When you added watermelon package? Did you add any other packages?

[2018-10-29 13:02] rafaelcamaram commented on #121
I just realized that the React Native (0.55) package was requiring the version 6.26.3 of babel-core then it was breaking the application and triggering the error that I reported.

But when I updated my package.json to use these versions, everything started to work :)

[code]

Anyway, thanks for the response :)

[2018-10-29 13:03] #121 closed

[2018-11-03 07:04] Kabangi commented on #73
@radex How would the query for fetching `cookbooks` on `Recipe` look like. Am trying to achieve the same but can't figure out the query.

[2018-11-03 07:49] bemnet4u commented on #40
@david

[2018-11-03 08:16] Kabangi commented on #73
Never mind I have figured it out.

I can write the docs if @gzumaglini Is not on it

[2018-11-03 11:34] radex commented on #73
@Kabangi please do!

[2018-11-03 11:35] radex commented on #40
@bemnet4u I don't think it's possible, some basic native support is needed — I think. But you can investigage if you'd like

[2018-11-05 12:21] bsr203 opened #128 "Error: Cannot use 'in' operator to search for 'initializer' in undefined (Model field decorators can only be used for simple properties)"
Hi,
I was using WatermelonDB for react-native, and trying to setup the same for web. For the same model, schema definition, I am hitting this case
https://github.com/Nozbe/WatermelonDB/blob/master/src/decorators/common.js#L21
`Model field decorators can only be used for simple properties - method, setter or getter `

This is the field definition
[code]
which is not changed from native, and looks s

[2018-11-05 20:46] rafaelcamaram opened #129 "Debug x Release - Performance"
@radex  Is there any difference of performance of running the application (using watermelondb) in debug mode?

I'm asking because I was developing using the Chrome Debugger and everything was going well but when I've disabled it, my app started to take much time to render the items fetched from my local database - maybe it could be caused by the process of the objects?.

Do you have any idea about

[2018-11-06 07:29] XiaoJianPeng opened #130 "How do we achieve paging queries?"

[2018-11-06 10:12] cjh804263197 commented on #130
I have same question

[2018-11-06 20:17] dkaushik95 commented on #130
I am guessing if the underlay is an SQL adapter, maybe using limit?

[2018-11-07 02:37] thanhtung6824 opened #133 "How do we find newest last_modified"

[2018-11-07 16:57] sonikro opened #138 "SyntaxError: Strict mode does not allow function declarations in a lexically nested statement"
Hello everyone,

First of all, thanks for this awesome project.

I'm trying to use WatermelonDB in my React-native project, however I've been facing an error related to strict-mode:

![image](https://user-images.githubusercontent.com/11502789/48146366-f3080f00-e29b-11e8-8cd3-013917c74ed3.png)
This error only shows up when I import SQLiteAdapter, and try to create it
[code]
If I comment the SQLiteA

[2018-11-08 07:51] radex commented on #138
1. show me a snippet of compiled JS around the line mentioned in the comment (you can open the URL in your browser)
2. show me your babel config

[2018-11-08 11:46] sonikro commented on #138
Hello @radex , thanks for the reply.

I created a sample project, where we can reproduce this problem -> https://github.com/sonikro/watermelontest

Just clone the repo, yarn, and react-native run-android.

The babel config of my original project is this:

[code]

Regarding the snippet of the code generated by the bundler,I got this... (The exact character is inside the **performanceNow()**, but I

[2018-11-08 11:58] radex commented on #138
ok will try to check tomorrow

[2018-11-08 13:21] radex opened #141 "⚡️ Easy issues for first-time contributors! 🍉"
Hey everyone! There’s a lot of you out there interested in using Watermelon! You can help us a lot in developing 🍉 by contributing to it — even in simple ways!

Here’s a list of easy fixes/improvements you can do to help:

- [ ] WIP

[2018-11-08 17:43] sonikro commented on #138
Hello @radex , I managed to find a workaround for the issue.

The problem was due to the old version of JSC that is shipped by default.

I've installed jsc-android@236355.0.0, and everything worked.

However, I believe that jsc-android is now mandatory for WatermelonDB to work properly.

Thanks for the library, and keep up the good work

[2018-11-08 18:12] radex commented on #138
Interesting!

Hm, that's not good! I guess there's a missing babel transformation maybe?

[2018-11-08 18:40] bsr203 commented on #128
@radex could you please give me some pointers as I am stuck at this. Any help is appreciated.

[2018-11-08 18:50] radex commented on #128
sorry about this! will investigate tomorrow

[2018-11-09 11:46] jacekk commented on #130
@dkaushik95 FYI: https://github.com/Nozbe/WatermelonDB/issues/113 Not resolved yet.

[2018-11-09 14:00] radex commented on #5
@fletling @theVasyl @sebastian-schlecht @brandondrew et al:

I'm beginning the work of rewriting our sync implementation, open sourcing it as part of 🍉, and have it be essentially self-documenting sample implementation for others to follow. Check it out here: https://github.com/Nozbe/WatermelonDB/pull/142 . This is very early, almost no code there, but you can follow along, see the proposed API, a

[2018-11-09 14:03] radex commented on #7
@Kabangi have you figured it out? you need something like this:

[code]

[2018-11-09 14:03] radex commented on #11
done

[2018-11-09 14:03] #11 closed

[2018-11-09 14:03] radex commented on #31
@Kabangi is this still an issue?

[2018-11-09 14:04] radex commented on #29
Hey! Did anyone push this effort forward? We can adopt TypeScript in chunks, we don't have to do it all at once, so I encourage you all to post pull requests even if they only add partial support.

@kroltan @Aidurber @venkatd @bsr203

[2018-11-09 14:06] radex commented on #16
Closing this issue as it seems no one is working on this currently. Please let me know if someone wants to implement this - I can give guidance

[2018-11-09 14:07] radex commented on #12
Closing this for now, as it's not anywhere near the top of the priorities list. If anyone wants to pick up the challange, I can give some guidance, but I warn you — it's not that simple as it seems ;)

[2018-11-09 14:07] #12 closed

[2018-11-09 14:08] radex commented on #56
shipped

[2018-11-09 14:08] #56 closed

[2018-11-09 14:09] radex commented on #73
@Kabangi hey, did you have a moment to write up a simple example of this?

[2018-11-09 14:09] #76 closed

[2018-11-09 14:10] radex commented on #91
no response

[2018-11-09 14:10] #91 closed

[2018-11-09 14:36] radex commented on #96
@creatorrr hey, any progress here?

[2018-11-09 14:39] radex commented on #102
@theVasyl IS this a solved issue? Can I close it?

If you had 10 minutes to update to documentation (and Database/index.js comment) that clarifies this and send a quick PR, that would be 💯

[2018-11-09 14:40] radex commented on #103
@MrTinyByte hey, still interested in contributing to this? Did you try out the hack I described above?

[2018-11-09 14:45] radex commented on #128
@bsr203 hey, can you show me your babel configuration? Looks like your decorator is misapplied.

PS. You could contribute an improvement to the error message, since I have `'initializer' in descriptor` and there should first be an `invariant(descriptor, `decorator not applied to a property`)

[2018-11-09 14:46] radex commented on #138
@sonikro is this something that worked before the latest release of 🍉 or did you encounter this the first time you wanted to use 🍉 ?

[2018-11-09 14:47] radex commented on #133
@thanhtung6824 if you want an answer, I suggest you describe your question in more detail

[2018-11-09 14:50] radex commented on #130
https://github.com/Nozbe/WatermelonDB/issues/113 describes why this is much harder than it seems, and a suggested workaround. If it doesn't work, please describe the exact use case in as much detail as you can.

**Please contribute a quick PR to the documentation explaining this for others :)**

Closing this, as it's a duplicate

[2018-11-09 14:50] #130 closed

[2018-11-09 15:08] radex commented on #138
This is the problematic part (adapters/sqlite/index):

[code]

is a regression, because that's new code. Huh. Maybe a fast-async bug… or a missing transformation?

For now, I'll just note this in docs as a workaround, since I use jsc-android and it's fine. **Would very much appreciate if someone contributed to the 🍉 babel config to fix this**

[2018-11-09 15:41] radex commented on #129
It _could_. Chrome has faster javascript than a RN app so if you're doing a lot of processing, you might get really slow.

I don't understand.

are you running on Android? Have you tried adopting jsc-android?

. . .

How many items are queried an fetched in this function? You're making empty queries which suggests you might be fetching and processing A LOT of data — which in RN will always be a pr

[2018-11-09 15:52] sonikro commented on #138
I encountered it the first time. I started using Watermelon DB this week.

I'll test it today, and will let you know of the results.

[2018-11-09 15:56] radex commented on #138
thanks!

[2018-11-09 16:38] sonikro commented on #138
@radex , the version `0.8.0-5-fix-android` is working in both scenarios, with the updated JSC and without it.
Thanks :)

[2018-11-09 17:07] bsr203 commented on #128
Thanks for getting back to me. this is my babelrc

shared
---

[code]

web
---
[code]

[2018-11-09 17:12] bsr203 commented on #29
I used @kroltan s typing, but had issue adapting as it covered the internals. I too looking forward to the cleaned up version as it does a great job covering the API.

[2018-11-10 03:00] Kabangi commented on #31
Yes, it still is. For now to debug am using DB SQLite browser to check the model values. Tedious but works

[2018-11-10 03:02] Kabangi commented on #7
Yes, ended up using  ._raw.id=id, though am afraid in future there might be a breaking change in regard to this.

[2018-11-11 07:17] creatorrr commented on #96
@radex sorry had been caught up with work. Just started [a fork](https://github.com/creatorrr/WatermelonDB) to start the project and will post updates here. In the meantime, you can close this issue if you'd like.

Also, thanks for your comments above, I have decided to write a **database adapter** instead. Mainly because Firestore's [data model](https://firebase.google.com/docs/firestore/data-mod

[2018-11-11 15:50] fletling commented on #5
Alright, during the past weeks we (@theVasyl , @sebastian-schlecht, @fletling  and others) have built a sync engine for our app on top of WatermelonDB and we’re very close to releasing it to our production app. In the following I’m going to share some insights how we did it and what we learned.
For now this is more like a list of bullet points, if there’s interest around this topic I’ll try to mak

[2018-11-12 10:21] radubatori commented on #29
I gave WatermelonDB a try for a couple of days, but in the end I went with PouchDB + MobX. However, I did write my own declarations in the process. They are not complete and can be improved quite a bit, but they may help if anybody is willing to extend them.

[code]

[2018-11-13 00:19] lekterable commented on #141
Screw sleep, I was really curious about the code so I've did:

Opening a PR for it in a minute.

[2018-11-13 07:53] radex commented on #29
Nice work @radubatori ! Thank you!

Does anybody want to clean it up a bit and send a pull request to add this to 🍉?

@radubatori PS. If you can spare a couple of minutes, send me an email — I'd be curious to understand your reasons for going with PouchDB+MobX over Watermelon :)

[2018-11-13 07:54] radex commented on #141
@lekterable Nice! Thank you for the suggestion — this list is written up definitely thanks to you

[2018-11-13 08:15] radex commented on #5
@fletling whoa, nice post. It will take me a while to digest all this and respond, since your needs are a lot different than ours (for us, no GraphQL, no existing stuff to support, and a preference for full-database, not per-collection sync). But this will help, so thank you.

[2018-11-13 12:17] #7 closed

[2018-11-13 12:17] radex commented on #96
OK, thanks! Be sure to let me know if you manage to finish this :)

[2018-11-13 12:17] #96 closed

[2018-11-13 19:36] bsr203 commented on #128
[watermelonissue.zip](https://github.com/Nozbe/WatermelonDB/files/2577714/watermelonissue.zip)

Hi @radex
please see the attached file, which has 2 folders
1. shared : shared model, which is compiled to es5/ commonjs.
2. web : a CRA app, ejected to add watermelonDB config.

to reproduce:
on `shared`:
[code]

on `web`
[code]
please let me know if you need any clarification.

greatly appreciate your

[2018-11-15 01:19] rafaelcamaram commented on #129
I got it, it makes sense. Thanks :)

I may be wrong in my analysis, but let's go step by step.

First of all, I made a query to fetch all the benefits from my local database:
[code]

And the code above returned an array of Benefits, as you can see on the following screenshot:
<img width="823" alt="screen shot 2018-11-14 at 22 51 24" src="https://user-images.githubusercontent.com/9087886/48522543-3

[2018-11-15 12:35] radex commented on #129
I still don't understand WHY you're trying to do this.

Watermelon doesn't have to "process" circular references. It's _references_, not data copies.

It would only make a difference if you're serializing Watermelon objects. Which you shouldn't be doing — you should just pass references. Yes, if you'll `console.log` a list of Watermelon objects, it will be massively inefficient — but you shouldn't

[2018-11-15 17:02] rafaelcamaram commented on #129
I got it. Can it be related to the fact that I'm trying to save these Watermelon objects to a Redux store? Because this is the only thing that I'm doing with these records.

[2018-11-15 18:58] radex commented on #129
I do not recommend doing that. It's going to cause you a lot of pain, because you're going against _both_ the architecture and philosophy of Redux (serializable, immutable) **_and_** the architecture and philosophy of Watermelon (reactive).

[2018-11-16 10:16] radex commented on #138
Great, released. Closing.

[2018-11-16 10:16] #138 closed

[2018-11-16 10:17] #133 closed

[2018-11-16 10:17] radex commented on #109
closing this for now, I'll reopen if anyone wants to get back to this

[2018-11-16 10:17] #109 closed

[2018-11-16 10:51] Kabangi commented on #31
Sometimes I want to inspect a list of models that were dispatched to
components just so am sure data is been saved correctly.

That said, since I filed this; I have learnt to inspect the actual database
which solves the pains I had of not been able to inspect with dev tools.

Feel free to close it.

On Fri, Nov 16, 2018 at 1:24 PM Radek Pietruszewski <
notifications@github.com> wrote:

[2018-11-17 16:07] popo63301 opened #155 "Test a watermelondb"
Hi guys !

This project looks amazing. I would like to know if you have planned to help people test a watermelonDB? As it requires an interaction with a local SQLite DB or Indexeddb, how about creating an official mock for watermelonDB so that people can test their app using Jest?

[2018-11-17 17:59] radex commented on #155
@popo63301  Testing with Jest works :)

[2018-11-17 17:59] radex commented on #155
closing this; let me know if you're having troubles running Watermelon in Jest env

[2018-11-17 17:59] #155 closed

[2018-11-17 19:29] jon-dearaujo opened #156 "Invariant Violation Module AppRegistry is not a registered callable, after adding Watermelon DatabaseProvider"
I am working on the implementation of a local database for my app and WatermelonDB seems to be a good option, and I was waiting the release of 0.8.0, with the **_DatabaseProvider/withDatabase_** to try it.

Yesterday, after the release I started the integration and I am getting this error right when the application launches using `react-native run-android`.

I'll drop some code here to try to cont

[2018-11-17 23:07] jon-dearaujo commented on #156
Hey guys!
I've managed to fix it by fresh installing all my dependencies, including WatermelonDB and WithObservables, uninstalling and running again my app on the device.

Closing it here since it does not seem to be a bug or a problem with WatermelonDB.

[2018-11-17 23:07] #156 closed

[2018-11-18 19:35] jon-dearaujo commented on #105
I've found this [StackOverflow answer](https://stackoverflow.com/a/21151598/6465040) really useful for this case.

It describes how to use adb (Android) to pull the database's .db file from the device to the computer.
The only differences I've noticed were:

- instead of using _**/data/data/<com.yourpackge.name>/databases/**_ to access the .db file, watermelon.db file is placed at _**/data/data/<c

[2018-11-19 08:13] radex commented on #105
@jon-dearaujo If you had a few moments to contribute debugging tips to docs, that'd be great!

[2018-11-19 17:20] radex commented on #5
@fletling will you be able to find some time this week to take a look at https://github.com/Nozbe/WatermelonDB/pull/142 and give us feedback about the proposed API and sketch of the sync algorithm? I can already see that your case is specific enough you might not be able to use the "standard 🍉 sync", but that's also why I could use your feedback a) why isn't it possible for you to use per-database

[2018-11-19 17:21] radex commented on #5
also, before I fully reply to your note from last week, I have one question:

Why? Why can't you use the same IDs locally as on the server? This is what we've been always doing, and I assumed there's no reason to treat local IDs separately

[2018-11-20 18:41] jon-dearaujo opened #159 "deep fetch/observe relations"
Hi!

Is there a way to connect with React components and observe deep relations?
 I need something like this:

[code]

If not, what do you guys recommend in cases like this?
I could probably use another component inside "PostComponent" to enhance and observe the cat inside, since author would be already available, but I am refactoring an app and it could result in a LOT of work.

Thanks!

[2018-11-20 23:20] rkrajewski commented on #159
Hi @jon-dearaujo! This is correct approach - you can enhance one `withObservables` with another.

[code]

You may also use compose-like function (i.e. from recompose https://github.com/acdlite/recompose).

[code]

Or you can use `switchMap` operator from `rx/js` if you don't need `author` directly.

[code]

[2018-11-21 12:22] jon-dearaujo commented on #159
Thanks, @rkrajewski! It is a really good solution.

[2018-11-21 12:42] sonikro commented on #112
Hello, great work guys.

While this is not approved yet, is there any alternative way of doing a LIKE query ? I really need this feature to implement a filter by Customer Name in my App.

Thanks.

[2018-11-21 13:00] radex commented on #159
@jon-dearaujo If you can spare 15 minutes, you could help others by contributing to the documentation and explaining this case :)

[2018-11-21 13:02] radex commented on #112
@sonikro if it needs to be a fuzzy search… no good solution comes to mind, sorry. I suggest you temporarily use the Watermelon fork @ieschalier has. His PR is almost ready, should work fine — but might take a week or two until it's realeased

[2018-11-21 13:10] sonikro commented on #112
Thanks @radex , that's exactly what Im doing right now.

[2018-11-21 13:43] radex commented on #159
Sounds great!

[2018-11-21 17:52] jon-dearaujo commented on #159
One thing I forgot to mention is that the relation, in my case, of post -> author is optional.
So I ended up with the switchMap solution along with a `of` in case of empty author.
[code]

The double-enhance solution was not working without the `of` from `rxjs`, I am not sure what i should return when the author is not present in the second enhancer.
[code]
and
[code]
are not valid getObservables f

[2018-11-21 18:41] radex commented on #159
This is correct and simplest. You can Simplify to `author ? author.cat : of(null)`. I think It would be reasonable if passing null in withObservables would just inject null as props. I can give you some pointers how to do it if you’d like to contribute. Then you’d get down to `authorCat: author?.cat`

[2018-11-22 14:50] jon-dearaujo commented on #159
#161

[2018-11-23 09:56] #159 closed

[2018-11-23 09:57] #129 closed

[2018-11-23 09:57] radex commented on #112
merged and shipped. cc @sonikro

[2018-11-23 09:57] #112 closed

[2018-11-23 11:47] Kabangi commented on #73
Coming up in a few. Sorry for ghosting on this. Am currently working on it.

[2018-11-24 01:37] hyperparsa opened #164 "Are the benefits of lazy loading lost when using the Loki adapter?"
Asking since Loki describes itself as a in-memory database.

[2018-11-24 09:52] #73 closed

[2018-11-24 09:56] radex commented on #164
Yes, some of the benefits are indeed lost. The primary use case is still React Native, where you have full lazy loading. On the web, the data will be fetched to JS code at launch, but it still happens asynchronously on a separate thread, and the hardest processing is still done on demand. So there still should be a benefit, but I haven't benchmarked against other web-only frameworks.

Let me know

[2018-11-24 09:56] #164 closed

[2018-11-24 14:35] fletling commented on #4
+ some best practices and tips on how to bind watermelon db data to react components, i.e. how to avoid unnecessary rerenders in react to keep performance high would be helpful. @sebastian-schlecht might be able to help here.

[2018-11-25 19:14] brandondrew commented on #5
Why would you make that assumption?

It seems to me that:

1. the odds are infinitesimally small (or "negligible" as you say)
2. you can detect a collision and throw an exception, and therefore
3. there is no risk of data loss

If I'm wrong about 2, then 3 disappears.  But isn't # 1 good enough?  Aren't the odds higher that all your servers will be simultaneously stolen by criminals or hit by ligh

[2018-11-26 12:38] thecookieorg commented on #110
Hey @radex
I was keep getting the ** BUILD FAILED ** ":CFBundleIdentifier", Does Not Exist error. Solved by adding an empty Swift file. Docs are excellent, I'm excited to try the watermelon! :)

[2018-11-27 12:48] radex commented on #5
I read through the links you posted and I remain unconvinced that this is necessary.

At Nozbe, we've been using 16-character client-generated random IDs with sync for 10 years, and we haven't ever detected conflicting IDs.

Currently, 🍉 generates IDs that have 8e24 possibilities. So if you have 10M teams, each of which has 100K records (1T = 1e12), the probability of _one_ collision (one in a _tr

[2018-11-29 07:46] Kabangi commented on #7
@radex
There is a gotcha with this solution `record._raw.id = myId`. That is, the ids from the server on all the models that you have needs to be unique otherwise you endup having this kind of errors

[code]

This is mainly because watermelon uses a Map with the `id` as the key hence if you have multiple models with the same id they will collide.

[2018-11-29 08:35] adam-aerobotics commented on #7
@Kabangi
I just noticed this issue myself! We're setting all the ids to our own database ids, but it seems a few that are relations have the same ids and are throwing that same error.

[2018-11-29 09:21] radex commented on #7
correct, Watermelon assumes IDs are globally unique. But I don't think you should be getting "Record ID was sent over the bridge, but it's not cached" — since record caching is done per-collection.

[2018-11-29 12:43] adam-aerobotics commented on #7
I'm looking into it, because it would be useful for me to be able to have the same ids across multiple models, and so far I've found that (at least for sqlite) the Native.query method seems to return a string of an object's id if it has previously returned another object with the same id, which then causes the cached error.

I would assume that this is due to how the caching works, so it only requ

[2018-11-29 13:16] adam-aerobotics commented on #7
Looking just at the iOS code, DatabaseDriver.swift seems to cache query records simply by storing their ids' in a set, I can't see anything indicating that the caching here happens per collection!

[2018-11-29 13:44] radex commented on #7
ah, correct. on JS side, caching Model objects happens per-collection, but native code assumes global IDs.

I don't think reusing IDs is a good practice. If you need a one-to-one relationship, you can just add a column pointing to another object.

It would be feasible to mark cached IDs per-table in native code, but it would require some work — I think it will be easier for you to tweak your schem

[2018-11-29 13:51] adam-aerobotics commented on #7
@radex

Okay, thank you for the information! The only reason I was interested in doing it this way was to mirror our company db, which has sequentially numbered ids for each entry in a table, so duplicate ids across different tables. However, I agree it would be easiest to just modify the schemas to store the company db's id in a separate field, and allow WatermelonDB to generate its unique IDs  🙂

[2018-11-29 13:58] radex commented on #7
you could store 11111 as `table_name_11111` during sync to guarantee uniqueness

[2018-11-30 11:56] adam-aerobotics commented on #7
@radex

I have just found a case where it would be useful to be able to specify the model ids directly: When there are associations. I don't believe there is a way to have an association without pointing to the parent or childs id field, is this correct? In this case it would be very useful to be able to specify our own ids, and allow duplicate ids across models, as we have quite a lot of models t

[2018-11-30 12:01] radex commented on #7
well again, can't you make your backend IDs unique by prepending them with table name?

PS. You could also fork watermelon and remove the "only send ID" optimization. you'd get warnings about not sending cached records, but that would work correctly, just a little slower

[2018-11-30 12:19] adam-aerobotics commented on #7
That could work, I just feel that it's going to be a bit of a hassle prepending the table name to all primary keys and any foreign keys as well. I think for now I might just remove that optimization, just to speed up our development. But I'll look into how easy it would be to change the caching optimization to cache ids on a model basis, so it wouldn't globally cache ids.

Either way, thank you fo

[2018-12-01 01:53] ahmadbaraka commented on #7
I've submitted a PR to handle the comment by @adam-aerobotics

@Kabangi and I will be using this on our project

[2018-12-01 15:17] Kabangi commented on #7
@ahmadbaraka Great work on this PR https://github.com/Nozbe/WatermelonDB/pull/175, indeed it does fully resolve the issue.

@adam-aerobotics If you still want to take advantage of the caching you could use this PR before @radex  reviews it

To directly use it you might need this small script to install it on your project

[code]

Then add a `postinstall` command in your package.json pointing to th

[2018-12-03 07:35] adam-aerobotics commented on #7
@ahmadbaraka Thanks so much for the PR! This solves my problem exactly. It seems you work a lot faster than I do! 😄

@Kabangi Thank you for the script, I'll implement it in my project while I wait for the PR to be merged.

[2018-12-03 14:16] radex commented on #7
I believe it's written up in Contributing.md — can you verify the instructions there are also appropriate?

[2018-12-04 14:23] servocoder commented on #5
Hey guys, you do an amazing job!

I can see the Sync feature is about to be released, and some PR's are already merged.

There are some docs have been written related to Sync (in [PR](https://github.com/Nozbe/WatermelonDB/pull/169)), but I would ask you to make it more extensive and comprehensive and more examples would nice to get. Looking forward for the final Sync release.

[2018-12-04 14:48] radex commented on #5
@servocoder have you seen the docs in this PR: https://github.com/Nozbe/WatermelonDB/blob/cafe5421981693a0d9b5ca051b3eb271bfc41711/docs/Advanced/Sync.md ? Those are a little bit more written up. If you have specific suggestions — please comment on that PR. Otherwise, this is more or less what we'll ship and we expect contributions to improve it more!

[2018-12-06 10:29] CochiorasBogdan opened #177 "What browsers are supported?"
Hello, What is the minimum Browsers versions, ECMASCIPT 5,6 supported by the project? Tried to test the demo website on IE 11 and get the following error:
SCRIPT1010: Expected identifier
vendors~main.29a8fc921753281c4dcf.js (1,14244)
![capture](https://user-images.githubusercontent.com/6114176/49578417-5f853500-f952-11e8-8a50-368c93aa09b3.JPG)

[2018-12-06 10:30] radex commented on #177
I don't know, we haven't tested legacy browsers. I suspect there are missing Babel transformations. Feel free to contribute to this pull request: https://github.com/Nozbe/WatermelonDB/pull/145

[2018-12-06 12:42] creambyemute opened #178 "Any plans/chances for RN-Windows/UWP Support?"
Hey there,

WatermelonDB looks really promising. Unfortunately I can't make use of it (yet?) because our project has to support RN-Windows/UWP...

As it is based on SQLite, are there any chances on a plan to support RN-Windows at some point? https://github.com/andpor/react-native-sqlite-storage as well as https://github.com/craftzdog/react-native-sqlite-2 for example have support for SQLite on RN-

[2018-12-06 16:17] servocoder commented on #5
Why the `synchronize` function require `actionsEnabled` to be enabled?

[code]

This allows the sync to work, but when I try to create a new entity in a manner `database.collections.get('user').create()` I get an error saying that I must perform CRUD operations inside actions solely.

If this is by design then I am curious what is correct way to access/invoke model action directly?

[2018-12-06 18:56] servocoder commented on #5
I would expect to invoke model action like this:
[code]
or
[code]
or any other way

at this point I could not get how can I access model action

[2018-12-06 21:13] radex commented on #5
Actions are necessary to ensure safety. Because of asynchronicity, if you have database writes depending on database reads, and something else is happening simultaneously, Bad Things™ can happen. TL;DR: Only one write action must happen at the same time.

Will be written up in more detail shortly. But:

[code]

or

[code]

[2018-12-07 05:44] ashconnell commented on #5
Am I correct in assuming this sync strategy will only work if you were to sync "all" of the data available to the user in an app?

I've been researching for solutions to a chat based app i'm building that needs to function offline but work in realtime when connected.

For the majority of apps discussed using WatermelonDB it seems feasible that when an existing user first logs into the apps that yo

[2018-12-07 07:37] servocoder commented on #5
@radex this works like a charm:
[code]

Concerning the second option that uses `@action` decorator, I couldn't find a way to invoke it directly. Is it designed to be used for models which are fetched as a result of `find()/query()` methods solely? In other words I am able to access a model action in the following way only:

[code]

This looks odd in case I would like to define all my C(R)UD operat

[2018-12-07 07:50] servocoder commented on #5
@radex  What is the correct way to break/invalidate push process? Let's say in case of a server is down. All changes will be considered as resolved and never be synced. I can throw an error, but is there a more graceful way than `throw` an error?

pushChanges: async ({ changes, lastPulledAt }) => {
      await ... // attempt to push local changes to the server
     // server is down, need to keep

[2018-12-07 08:11] radex commented on #5
@ashconnell

Correct, all data is pulled.

Right. A cache for a real-time chat app is not the primary use case for Watermelon. We're not planning to develop a partial synchronization/caching scheme ourselves, but:

- the implementation of sync is documented here: https://github.com/Nozbe/WatermelonDB/blob/cafe5421981693a0d9b5ca051b3eb271bfc41711/src/sync/index.js#L63 — if you want to take this up

[2018-12-07 08:14] radex commented on #5
@servocoder

Correct, this is meant to be used on Model instance methods. If you have global actions (such as creating users — if users don't belong to any other record), you can define functions any way you like and use `database.action()`. Hopefully documentation will clear that up.

This is correct. Throwing an error in an async function is the same as rejecting a promise. If `axios.post` retur

[2018-12-07 09:59] #31 closed

[2018-12-07 09:59] #60 closed

[2018-12-07 10:00] radex commented on #83
Closing this. @bsr203 feel free to ask Qs if you want to get to implementing this in the future

[2018-12-07 10:00] #83 closed

[2018-12-07 19:55] ahmadbaraka opened #179 "Why mark actions as async?"
The [Actions Docs](/Nozbe/WatermelonDB/blob/master/docs/Actions.md#defining-actions) recommends that:

What's the benefit of:
[code]

vs:
[code]

Won't `addComment` in both cases return a promise?
Why is it recommended to always mark the actions as `async`, can I just return the Promise from `.create` call in this case?

[2018-12-08 19:07] bsr203 opened #180 "Question: withObservables for dynamic changes"
Hi,
I am assuming this is the basic feature Watermelon supports, but not sure what I am doing wrong. I want the list of posts to be displayed filtered on `toId` which is passed as a prop.

[code]
the filtering works, but if I insert a new post (say through  listening websocket response), like

[code]

the new record is not showing upon the filtered list above. What changes do I make it so that any

[2018-12-11 19:36] enahum commented on #156
Hey @jon-dearaujo can you explain how are you using watermelonDB along side redux?

I have a react-native app that manages the data with redux and I'm looking for paths to update the data store layer but without affecting much how the rest of the components work with react-redux, etc.. any pointers?

[2018-12-12 12:04] jon-dearaujo commented on #156
Sorry @enahum, we are not using redux and WatermelonDB together. I know it might sound a bit weird having both on the project and not taking advantage, but it seems that we don't need it right now. Redux came first as a dependency for **redux-form** and WatermelonDB came later as an attempt (successful, so far) to add offline features to our app. We probably could have tried some sort of persisted

[2018-12-13 10:47] greenkeeper[bot] opened #183 "An in-range update of react-native is breaking the build 🚨"
## The devDependency [react-native](https://github.com/facebook/react-native) was updated from `0.57.7` to `0.57.8`.

🚨 [View failing branch](https://github.com/Nozbe/WatermelonDB/compare/master...Nozbe:greenkeeper%2Freact-native-0.57.8).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

react-native is a devDependency of th

[2018-12-13 11:07] creambyemute commented on #178
@radex Alright, just to ensure I got it correctly:
What basically has to be done would be the following (I haven't thoroughly dived in yet):

- Add native windows project to WatermelonDB (like iOS/ and android/ folder)
- Integrate the native windows SQLite package (`SQLite.Net.Interop` for UWP or `Microsoft.Data.Sqlite` for WPF)
- Implement the above mentioned classes and methods

I'm just trying

[2018-12-13 11:49] radex commented on #178
@creambyemute

We still have to decide internally at @Nozbe whether we want to accept this into the core (since we wouldn't want to put our own efforts to maintain the Windows support), or whether it would be better to develop this adapter as an add-on package (in your own repo).

On one hand, it would be easier for everyone. On the other, if we make a change to common adapter code, and Windows co

[2018-12-17 09:01] ieschalier opened #186 "Reduce memory usage in destroy process"
# Description

With example it must be more understandable.

[code]

In case of list with a lot of items, destroy List cause a peak of memory usage.

It must be a real problem in mobile because we have a limit of memory usage, after this limit app is killed by OS.

# Proposal

Actually `destroyAllPermanently` seems to fetch all items one by one and delete then one by one. I think this is done for

[2018-12-17 09:18] radex commented on #186
It's possible, but not trivial. It's one of the TODO steps before 1.0. The problem is finding all dependencies (say, delete a project with all its tasks with all their comments), and then updating the JS state (removing all deleted items from local cache, notifying observers).

If you want to tackle this, or at least part of it, let me know — I'll give you pointers.

For quick workarounds, you cou

[2018-12-17 14:58] ieschalier commented on #186
Ok, we try with a raw SQL query and it's seems to work very well. Thanks for the tricks 🙂

I don’t have time in next 2 weeks but maybe after

[2018-12-17 16:12] eliaslaouiti opened #188 "[Error] Uh-oh. Database failed to load, we're in big trouble"
Hi Guys,

I've got an error on react-native :
`console.error: "[DB] Uh-oh. Database failed to load, we're in big trouble", {"line":154357,"column":32,"sourceURL":"http://localhost:8081/index.bundle?platform=ios&dev=true&minify=false"}`. (Complete stack trace : [https://pastebin.com/mx4zwBjA](https://pastebin.com/mx4zwBjA))

I don't use expo, I do the `react-native link` (+ test to link manually) b

[2018-12-17 16:30] radex commented on #188
@eliaslaouiti check Xcode console logs… you might have forgotten to recompile your app maybe?

[2018-12-17 16:46] eliaslaouiti commented on #188
@radex I try to compile directly on XCode, and i've got this fatal error :

[code]

[2018-12-17 17:22] radex commented on #188
[code]

Seems like there's a SQL error during setUp, which is weird. You can fiddle with adapters/sqlite/index → `_init` — follow the code paths and console.log the SQL that's sent to native code. Or you can set a breakpoint in Xcode on Database.swift → executeStatements and view SQL from debugger (`po queries`).

[2018-12-17 18:00] eliaslaouiti commented on #188
Ok, i found the problem.

Maybe it will be good to display the sql request on error.

Thanks @radex :)

[2018-12-17 18:00] #188 closed

[2018-12-18 08:04] radex commented on #188
@eliaslaouiti what was the problem? Is there a way Watermelon could catch the problem easier?

[2018-12-18 09:00] eliaslaouiti commented on #188
On tableSchema, a put a ":" in the name value :
`{ name: 'name:', type: 'string', isIndexed: true },`
I had to display the sql query to show my error. Maybe, you can display the sql query in development mode if there is an error.

[2018-12-18 12:17] radex commented on #188
@eliaslaouiti — right. That should be sanitized. Or at least, as you say, show a better error. I could point you to where to make the improvements if you want to contribute

[2018-12-19 09:20] adam-aerobotics opened #189 "Using ISO8601 date strings for date fields"
I was wondering what people thought of adding functionality to allow ISO8601 date time strings to be used for date fields in a model. Currently if you try to define an `*_at` field in the schema as a string, it complains that it `...must be of type number and not optional`.

At our company we use date time fields, the benefit of them is their readability, being able to store timezones, and sub-sec

[2018-12-19 11:01] radex commented on #189
Only for created_at and updated_at, which are treated specially by 🍉. You can use different names.

JS-style timestamps are millisecond-precision

[2018-12-19 11:38] adam-aerobotics commented on #189
@radex

Oh okay! It looks like I didn't do enough research haha! Thanks for the information.

[2018-12-19 11:38] #189 closed

[2018-12-21 17:40] cemremengu opened #193 "Storing dynamic data"
Is it possible to store dynamic data (i.e. without setting up any models)? We are running some ad-hoc queries on our main database but don't know the schema of result set beforehand.

[2018-12-26 00:06] rkrajewski commented on #180
@bsr203 Did you find a solution? Just to be sure - is everything correct with `toId` field definition in the model?

Yes @Necromant1k , it's possible and your solution should work just fine. You can debug, has any record been inserted/updated correctly by checking it manually with `await database.collections.get('users').query().fetch()` - maybe there is a problem with inserting/updating in other

[2018-12-26 08:40] greenkeeper[bot] opened #194 "An in-range update of rambdax is breaking the build 🚨"
## The dependency [rambdax](https://github.com/selfrefactor/rambdax) was updated from `1.4.0` to `1.4.1`.

🚨 [View failing branch](https://github.com/Nozbe/WatermelonDB/compare/master...Nozbe:greenkeeper%2Frambdax-1.4.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

rambdax is a direct dependency of this project, and **

[2018-12-26 09:44] Necromant1k commented on #180
@rkrajewski Hmm you right! Something wrong with inserting. I tried to `await` for fetch and got this error
`Diagnostic error: Record ID users#hxd8ley4nzva1h3f was sent over the bridge, but it's not cached`
This also happens for Updating or Deleting.
Did i miss something?

Note: by awaiting for `.create(user => { ... }` i'm getting new user which was created

[2018-12-26 10:47] Necromant1k commented on #180
@rkrajewski Ok. Issue gone. I was passing `database` property to my component with Router, but once i replaced it with `withDatabase` it started work just fine.
Thanks for your help!

[2018-12-28 16:57] roots-ai opened #195 "How to integrate React Redux and WatermelonDb?"
Hello!
I am new to Watermelondb and landed up using this due to slow performance of `AsyncStorage`.

I am looking to serve APIs with `react native redux` using `dispatch`, and then push data from `props` into `WatermelonDb`.

1. Is this the right approach? Or am I going architecturally wrong?
2. If this is not wrong then is below the right way to connect a Database with Redux?

[code]

and then in

[2018-12-28 21:52] rkrajewski commented on #195
Hi @roots-ai! I suggest you to read main description of 🍉carefully https://github.com/Nozbe/WatermelonDB#why-watermelon and watch attached video https://www.youtube.com/watch?v=UlZ1QnFF4Cw

Basic idea of 🍉 , is to work instead of Redux. In short, it is lazy loaded and observable data layer, over local database (for example SQLite). This is not a database itself.

[2018-12-29 19:10] roots-ai commented on #195
Thanks, @rkrajewski ! Yes I read that. Will also listen to the video.

But how data would be fetched from the APIs for the first time and would be mapped to the database?

[2018-12-29 20:32] rkrajewski commented on #195
@roots-ai Here is doc about synchronization https://github.com/Nozbe/WatermelonDB/blob/master/docs/Advanced/Sync.md and the issue with discussion about it https://github.com/Nozbe/WatermelonDB/issues/5. After confronting with that, if you will have any further questions, please write it up in that issue or open new one for specific question.

I'm closing this one, since main question is resolved,

[2018-12-29 20:32] #195 closed

[2018-12-30 09:03] roots-ai commented on #195
Thanks. Works.

[2018-12-31 17:18] #36 closed

[2019-01-05 01:10] anarkafkas opened #196 "startsWith condition for query"
I was going through the Query docs and didn't come across a startsWith condition. Something that can be used a lot for things like

[code]

Is there native support for this or do I have to query all users and then do the filtering with JS, which doesn't sound very efficient?

[2019-01-05 14:08] rkrajewski commented on #196
You can use `like` operator (https://github.com/Nozbe/WatermelonDB/blob/master/docs/Query.md#conditions-with-other-operators):

[code]

[2019-01-05 19:31] anarkafkas commented on #196
Thank you so much.

[2019-01-05 19:32] anarkafkas commented on #196
Thank you so much.

[2019-01-08 13:11] pakyo-pan opened #197 "Full text search"
I'm wondering about FTS support.
For sure it is an sql's feature, but do you have something similar for such queries?

[2019-01-08 16:20] NKlug opened #198 "How do I define a column to be unique?"
I'm wondering how I can specify a column to be `unique`. It would also be interesting how I can define another column, let's call it `name`, to be the primary key instead of the default `id` column.
I haven't found anything on this in the docu/repo.

Edit: Grammar

[2019-01-08 16:39] maxammann commented on #198
This relates to: https://github.com/Nozbe/WatermelonDB/issues/36

It is not possible to prevent duplicates.

[2019-01-09 21:15] servocoder commented on #103
I was looking a solution for SQL `order` and `limit` support, and found the explanations why it's not an easy thing considering observables, e.g. #15. While this is true for observables there are cases when you just need to fetch some DB entity out of the observables context. My particular case is that I need to find first entity sorted by timestamp with `fetch()` method. If we can't get it with `

[2019-01-10 16:32] #194 closed

[2019-01-10 16:35] #196 closed

[2019-01-10 16:36] radex commented on #196
@anarkafkas It would be awesome if you could send a quick pull request with a documentation update — since it's clearly not obvious that one can use Q.like as "startsWith"

[2019-01-10 16:39] radex commented on #198
@NKlug There's no such option at this moment. It kinda goes against Watermelon's approach of doing validation on JavaScript and avoiding database-side errors (since they're tricky to handle, when you use observables and such).

If you want to propose a solution to this problem, I'd be happy to take a look

[2019-01-10 16:40] radex commented on #197
There's no FTS support in Watermelon right now. If you want to research the issue and propose a solution, I'd be happy to take a look, give you pointers as for implementation, etc.

[2019-01-10 16:41] radex commented on #193
@cemremengu Closing this issue, since no reply. Let us know if this solves your problem

[2019-01-10 16:41] #193 closed

[2019-01-10 18:23] anarkafkas commented on #196
@radex Sure will do.

[2019-01-10 23:00] jakebloom commented on #29
Would love to see this merged at some point - @kroltan if you're too busy, can you email me with what you have so far and I can take a look?

[2019-01-11 07:31] ptdede opened #203 "The action you're trying to perform (unnamed) can't be performed yet"
Hi! I Just discover this project and it's amazing! 🥇

I have several question about implementation to my project.
So, I have function like this:
[code]
After several time trying, i got this warning message:
<img width="910" alt="screen shot 2019-01-11 at 15 23 37" src="https://user-images.githubusercontent.com/3388701/51019169-ee6e1880-15b4-11e9-9d1f-4debf4641cdf.png">

And when i build release fo

[2019-01-11 08:47] radex commented on #29
@jakebloom I believe it's in this repo:
https://github.com/kroltan/WatermelonDB/tree/typescript — but it's possible @kroltan has some unpushed changes.

Would greatly appreciate PRs!

[2019-01-11 08:51] radex commented on #203
It is. The warning explains why the app appears stuck. Take a look at the docs: https://github.com/Nozbe/WatermelonDB/blob/master/docs/Actions.md

Yes. Native database code runs in a separate thread from JS thread and main thread.

[2019-01-11 09:11] ptdede commented on #203
Very cool!

Yes, i saw the docs. So, i have to use action in model instead using it from exported watermelon database?

[2019-01-11 09:18] radex commented on #203
you can do `database.action`. The problem is that you have competing actions. You have some action running that has not completed (or errored out). You should see in console the body of the function that's running.

Either that or you're trying to run database.action from inside another action. In which case you need to use subAction API

Let me know if this makes sense to you.

[2019-01-11 12:07] ptdede commented on #203
Yep, so the function that causing this error is `database.action`.
I test it by transform the function into:
[code]
I am pretty sure that i'm not running `database.action` inside other action.

But, I run `asyncSaveOfflineDb` multiple time simultaneously. For example I have `<HOC thatFetch={url} /> `, and i render multiple `<HOC />` in a class. That component also have functionality to save data i

[2019-01-11 13:05] yatsyk opened #204 "Pass web worker reference to LokiJSAdapter"
LokiJSAdapter assumes worker-loader and webpack presence for Web Worker loading. This makes WatermelonDB impossible to use with other bundlers such as parcel. It would be nice to have the possibility to pass started worker reference to adapter.

[2019-01-11 15:58] yatsyk commented on #204
Cloned the repo and got error after running the tests:

[code]
Looks like something wrong with babel setup. Does something should be installed globally which is not described in https://github.com/Nozbe/WatermelonDB/blob/master/CONTRIBUTING.md ?

[2019-01-12 18:41] brandondrew opened #205 "Demo URLs invalid"
The URLs in the web demo all give a 404 error:

https://watermelondb.now.sh/blog/37shaoajdy6tgx35/post/m44q9yoc7q4t0bqj

They are generated when using the demo _if_ you visit from the demo's main URL, but those generated URLs are not valid for use _as URLs_.  You can't open the URL in a new browser window and get anywhere.

I don't know if this problem is limited to the demo, or whether it is a de

[2019-01-13 09:07] esbenp opened #206 "[Sync] Allow for partial push"
First of all thank you for WatermelonDB, we've been playing around with using it instead of redux-offline and its a world of difference.

One of our use cases that I have a bit of trouble wrapping my head around is pushing changes to the backend. Our app is for making sales orders (you receive products from the backend, and turn them into orders in the client and send these to the backend). This c

[2019-01-13 09:50] esbenp commented on #105
Tip: If your on OSX you can get the data path of the currently open simulator by running `xcrun simctl get_app_container booted com.example.app` - of course replace com.example.app

So you can do something `$(xcrun simctl get_app_container booted com.traede.app)/Documents/[databasename].db` to get the full path. If somebody figures out how to pipe this into dbeaver, please let me know :-)

[2019-01-14 08:08] radex commented on #206
Hey @esbenp. Thanks for the feedback! I'll get back to you with more detail later in the week, but a quick question:

Why? Wouldn't it make your app more powerful to synchronize unapproved orders? Such orders wouldn't be visible to other users and wouldn't trigger any actions, but a backup of the work done is already on the server. What's the harm? It would keep a lot of doors open, such as having

[2019-01-14 08:08] ptdede commented on #203
Update:
I found that omitting `actionsEnabled: true` is solving this problem 😕
[code]

[2019-01-14 08:08] #203 closed

[2019-01-14 08:09] radex commented on #204
@yatsyk Not that I know of… I haven't had that break on me. The only global dependency I can think of is Node… Are you running v >=10?

[2019-01-14 08:19] radex commented on #105
@esbenp please send a quick PR to the documentation with this tip (and the ones above) — that will be much easier for others to find :)

[2019-01-14 11:40] yatsyk commented on #204
@radex checked on just installed node v10.15.0, same error

[2019-01-15 22:38] bgits opened #207 "Unable to persist create records using Loki as adapter"
I have added watermelondb + Loki to a project and when creating records the raw values are all the default values of empty strings and 0 numbers.  When I log out the records during the batch creation they are there but upon retrieval the raw values are the defaults.

When writing directly to the raw field it does persist, ie: `lpEvent._raw.block_number`

Here is the actual create action in the rep

[2019-01-16 13:10] radex commented on #207
@bgits You probably have ES6 decorators misconfigured. That's why writes to `model.xx` never actually writes to `model._raw` as it should

[2019-01-16 13:45] bgits commented on #207
The configuration in webpack is here, it seems to be correct and the build does not error. https://github.com/status-im/liquid-funding/blob/watermelon-data-persist/webpack.config.js#L129-L133

How would you test to see if the decorators are properly configured?

[2019-01-16 15:04] radex commented on #207
@bgits look at compiled JS files — do they look right?. Also, I remember someone else had a similar issue, so you can browse closed issues in this repo

[2019-01-16 15:56] bgits commented on #207
Is this the issue you are referring to? https://github.com/Nozbe/WatermelonDB/issues/104

In my case the legacy field is set to true.
Setting `legacy: true` requires `class-properties` to have `loose: true`. Does that work well with WatermelonDB?

[2019-01-16 19:59] bgits commented on #207
With no clear differences in my babel config, I for now resorted to defining fields in model constructor using this helper function:

[code]

Then using it as:

[code]

This is a hacky solution and will not be easy when I need to start having relationships, so I'm wondering if there is a recommendation for use the decorators as functions? As decorator support is not widespread yet being forced to

[2019-01-17 07:39] radex commented on #207
Indeed! @alex-min — can you share what you had misconfigured in babelrc?

Yes! That's what I have in my config.

Agreed — decorators are neat, but shouldn't be mandatory. I'm not going to work on this, but if you want to contribute a solution, I'd be happy to accept it.

[2019-01-17 07:43] alex-min commented on #207
@radex

It seems I had some thing like this:

[code]

[2019-01-17 07:46] alex-min commented on #207
@radex

It seems I had something like this:

[code]

instead of

[code]

I don't remember how I got that however...

[2019-01-17 15:35] bgits commented on #207
It seems using a decorator on a class property is simply ignored by babel for some reason.

I got it to work using this approach:

[code]

By declaring it as a method babel no longer discards it, and I had to create the `initialize` decorator in order to get around this invariant: https://github.com/Nozbe/WatermelonDB/blob/master/src/decorators/common.js#L21-L25

Which leads me to ask, why is that

[2019-01-17 16:16] radex commented on #207
It's there to protect users from incorrect use of decorators. You're only supposed to say `@field('a') a`, not, for example, a method or a setter (since that doesn't really make sense).

Without seeing what you're seeing, it's hard for me to help you diagnose the root cause of the problem — but it would be great to fix it (or at least provide an alternative to decorators), since you're not the fir

[2019-01-17 17:18] bgits commented on #207
I believe I found the issue. I think it's related to: https://github.com/babel/babel/issues/8417

Here is the fix in my webpack config: https://github.com/status-im/liquid-funding/commit/2bc3e5fd3426bd91ee8d70e2d43b9ce11e370299

[2019-01-18 15:55] bgits opened #210 "unable to use object spread operator with models"
When observing a collection it does not seem possible to use the object spread operator to get the values of the fields defined in the model.

ie:
[code]

In the above example, `...field` returns none of the fields, while `...field._raw` will but they are not camelcase.

Seems like this should be supported unless there is a reason not to use the spread operator in favor of some more idiomatic way

[2019-01-18 16:48] radex commented on #210
Watermelon records are not "dumb objects", they're class instances. And fields can have transformations, sanitizers… and you might have additional items (e.g. getters) that are not `@fields` in the way. Ergo, it doesn't seem like a great idea to me, to just spread such an object. By tweaking the model definition, you can break a bunch of other places in your code.

I think your workaround is fine

[2019-01-18 16:48] #210 closed

[2019-01-18 17:04] radex commented on #206
Three ideas come to mind, from simplest to hardest:

1. Just Sync Everything — like I suggested before. I think in most cases there's just no harm in this, and only benefits.
2. Per-collection sync enable — currently ALL tables (except for magic localStorage table) are synced. I think a lot of apps might have a need for tables for local stuff (needing more complex stuff than LocalStorage provides)

[2019-01-18 19:53] skhizerabass opened #211 "How to delete all the records from the table"
I want to clear all the records from different tables. Is there anyway to do that ?

[2019-01-19 11:14] radex commented on #211
You can clear the whole database using `database.unsafeClearDatabase()`. There's no feature for cleaing the whole table. You can delete contents of an empty query `collection.query().markAllAsDeleted()` (or `destroyAllPermanently()`), but it's not very efficient (yet). You could also use a raw query — see https://github.com/Nozbe/WatermelonDB/issues/103 for discussion

[2019-01-20 09:44] namjul opened #212 "database observable calls on every new record"
I am trying to create some fake data and load initially.
But i am not able to get them working like in the example.
I that i have an enhanced component like so:

[code]
And load the data like so:
[code]
The enhanced component recieves the items but renders everytime a new item enters the database.
I use the same generate script as in the example.

![image](https://user-images.githubusercontent.com

[2019-01-21 09:42] cfeeling commented on #206
In my mind, I think it should be up to client for the case "client sends misformatted data (some broken invariant, bad value, whatever), and server rejects it". The work flow might be same as below:
1. client sends misformatted data;
2. server response request with validate result, for example:
[code]
3. according to application specific rules which should be outside of watermelon, client remove t

[2019-01-21 15:22] rkrajewski commented on #212
@namjul Just like the warning says, you should call `batch` inside `action`.

[code]
where `newModels` is an array of models created with `collection.prepareCreate`.

[2019-01-21 17:45] namjul commented on #212
Thats already happening inside the `generate10k` function.
So my issue is even though i am using `batch` with `prepareCreate` the render function gets called for each item created. And it should only be called ones. In the [example](https://github.com/Nozbe/WatermelonDB/blob/master/examples/web/src/components/Root/index.js#L17) it works, but when i move the generate function outside, for example i

[2019-01-21 20:45] #207 closed

[2019-01-21 20:49] skhizerabass opened #214 "Batch insertion throws an unhandled promise rejection error."
I have used the logs and i have more than 600 records to update contactsCreation is an array in which i am storing all the prepareCreate operations. Can you please review my code and explain me what is wrong with the code?

[code]

`

[2019-01-21 20:59] bgits opened #215 "How to create relationships on non id fields is not clear"
Since Watermelon auto assigns the id field, I'm trying create a relationship between two models on non 'id' fields as per their relationship on the remote resource. the example would be:

[code]

When I try to create the `Pledge` on `pledge.profile.set(profile.id)` the profile is not set and `id_profile` is "0" when it should have a value.

So this is two questions.
1) Would this be the ideal way

[2019-01-22 15:30] Icemanbeta commented on #215
How are you creating? Since you're not using `.set(profile)` I'm guessing you're not creating the `Profile` first, or if you are, when using `.set` you have to pass the whole model object in. It's clearly in the documentation. If you were just using the `profileId` it should be `pledge.profileId = profile.id`

[2019-01-22 15:59] bgits commented on #215
I am creating the profile first, I'm not passing in the profile object because in order to obtain the profile object it seems I need to query that Collection which returns a promise and `create` throws an invariant error when passing in function that resolves promises. It also seems unperformant to perform that extra query and processing rather than passing reference by ID.

[2019-01-22 16:16] bgits commented on #215
In my case I'm doing `pledge.profile.idProfile = id` since the `id` field is generated by Watermelon and is different from fields maintaining the relationship on the remote resource.

In any case when trying `pledge.profile.idProfile = id` in a batchCreate, the `id_profile` field in `_.raw` is always `0`

[2019-01-22 16:56] radex commented on #215
that ain't right. `pledge.profile` is not a `Profile` instance, but a `Relation` object. You can't do `pledge.profile.idProfile`. Again, I think docs should be fairly clear on that part

[2019-01-22 17:15] bgits commented on #215
It's not clear how to set the relationship in this case, the remote resource `Pledge` has no concept of what the WatermelonDB `id` for `Profile` is. Essentially `pledge.owner == profile.idProfile` Many to one.

If I already have the profiles table retrieved and I'm adding pledges records, how should I be setting the profile relationship for each pledge?

Is performing a query on `profiles` and the

[2019-01-22 20:58] namjul commented on #212
Oh i see. I have a look into the PR. Thanks!

[2019-01-25 04:19] davideweaver opened #216 "[Sync] Update locally created records with server ids"
Using PushChanges with a locally created record uses the `id` generated on the client. My server ignores this `id` and generates it's own `id`. What's the recommended way to update the local record with the `id` returned from the server? If I don't update the local `id` of the record, it will never receive updates from the server. Thanks

[2019-01-25 09:17] radex commented on #216
@davideweaver is there no way for your server to just accept client's ID?

[2019-01-25 11:23] davideweaver commented on #216
No. It’s a micro-service backend and I do not control all the services that I’ll need to sync/create records in.

On Jan 25, 2019, at 4:17 AM, Radek Pietruszewski <notifications@github.com<mailto:notifications@github.com>> wrote:

@davideweaver<https://github.com/davideweaver> is there no way for your server to just accept client's ID?

—
You are receiving this because you were mentioned.
Reply to

[2019-01-26 12:08] azizhk opened #217 "Infinite List Questions, Memory Usage"
Hi WatermelonDB developers.
Wanted to ask about WatermelonDB usage with an infinite list. I understand that WatermelonDB is lazy first, would I be able to lazily load results of a query until the items are on screen. Wondering if watermelon DB supports something like this using RxJS
[code]
Where I have only those objects which are on screen in memory (or those which have appeared on screen once)

[2019-01-27 10:41] radex commented on #217
There is no specific support for this, but sure, you can use RxJs for this, like so:

[code]

see https://github.com/Nozbe/WatermelonDB/issues/113
https://github.com/Nozbe/WatermelonDB/issues/113https://github.com/Nozbe/WatermelonDB/issues/113
https://github.com/Nozbe/WatermelonDB/issues/113

[2019-01-27 13:44] namjul commented on #212
So i am at the point where this line https://github.com/Nozbe/WatermelonDB/pull/173/files#diff-c5500afe3b4153f17b1903a7ac03029dR125
causes this error: `Cannot observe uncommitted record`

What i understand is following:
Calling `this.changes.next` with all operations for each collection is what we are after.
But there are some additional things that need to happen for each record. I see marking as

[2019-01-27 19:08] #214 closed

[2019-01-28 14:02] arosendorff opened #218 "Observing Updates to Query"
Hi there, is there a way to observe any updates to a query directly? I know that the documentation says that you would pass the items returned from the query to enhanced components that would then observe each item, but I would ideally like to be able to update my component when any item in the query changes, as I apply some sorting and filtering to the items.

[2019-01-28 17:19] arosendorff commented on #218
@rkrajewski But will this update if any items in my query are changed? E.g. if one of my items' name changes, would the component refresh? I know there's `Query.observeWithColumns`, but I essentially want to be able to observe all columns of my model if possible.

[2019-01-28 19:01] esbenp commented on #216
In our API (we have sequential IDs) we have DB table that maps all database IDs to tablet IDs. So everytime we send data to the tablet we replace all internal IDs with the right tablet IDs. We also replace IDs of related entities etc. We also use this table to track deletes (so if you delete something in our DB we set a deleted_at timestamp on the tablet_id table).

[2019-01-28 19:19] esbenp commented on #206
We have a sync page in our app where we display all client errors. I think you could have event hooks ala `onError` etc. so you leave it up to the developer to figure out what to do with it. But yes all rows that are errorneous should simply be marked as not synced. I would have a validation_error table that is ignored by the API (since its only needed locally by the tablet)

[code]

That means I

[2019-01-29 07:33] radex commented on #218
@arosendorff theres no built in support for this. It's generally best to do it on component level, since you can avoid a lot of re-renders this way. You can work around it by calling observeWithColumns with all the columns (you can set a constant somewhere with all of them), or by doing an rx composition (switchMap to a merge of all observes of individual items)

[2019-01-29 07:51] arosendorff commented on #218
@radex Okay thank you. Yeah that's what I thought was the preferred way of doing things, I just asked because we have a list of objects that we filter to show specific ones, and the objects could be updated while the user is viewing the list. I think using the observeWithColumns will be the best way to solve it for now, thank you!

[2019-01-29 08:20] radex commented on #218
@arosendorff I understand the filtering is too complex to do on database (query) level?

[2019-01-29 12:52] #218 closed

[2019-01-29 14:50] davideweaver commented on #216
@esbenp Did you create the tablet id mapping mechanism to work around the fact that there's no way to update ids for records created on your tablets? With zero knowledge of your stack, it seems like it would be easier to make the ids correct on the tablets.

[2019-01-29 18:00] davideweaver commented on #216
@radex Any additional thoughts on this?

[2019-01-29 21:17] esbenp opened #219 "[Relations] Allow defining local ID key"
Sometimes the local key is not ID, so it would be nice if we could define the local key optionally on associations.

e.g.

[code]

Assuming I have read it correctly it would be quite trivial to add in the decorators

[code]

I can add the PR if you want? @radex

[2019-01-30 03:04] cfeeling opened #220 "How can I define structure of local IDs?"
How could I add prefix or postfix on local ID which was generated automatically before being sent to sync server?

In my case:

1. every one would register an account on our server, and the identification, with a unique account ID, would be saved in local database after first signing in;
2. client data would be saved separately into their local database firstly. In my mind, I thought that local ID

[2019-01-30 04:13] JensonMiralles opened #221 "[Question] Populating database from a file"
Is there a way to populate the database from a file containing records for React-Native?

Thanks!

[2019-01-30 09:16] andr3a88 opened #222 "Cannot compile on iOS: RCTBridgeModule not found"
After importing i have this error on compilation: `React/RCTBridgeModule.h` file not found on `/node_modules/@nozbe/watermelondb/native/ios/WatermelonDB/SupportingFiles/Bridging.h`

Env
[code]

Error detailed
[code]

I tried cleaning buld folder and derived data.

React is linked via cocoapods

[code]

[2019-01-30 19:00] davideweaver commented on #216
@radex Following up on the previous code, it fails because the update path in the adapter does not allow updates to the `id` as it's currently implemented. `encodeUpdate` uses the updated `id` to identify the record to be updated, so if `id` is changed the sql command doesn't find the record to update. Makes sense.

So I can fork this repo and get it to work for my purposes. Ideally this change co

[2019-01-30 22:18] bgits commented on #215
This is not an async issue for me. I did see a thread in the issues about modifying the id however it said that keys need to be globally unique, so in the case where each table uses sequential numbering there will be global collisions, I don't know if this is still the case with WatermelonDB?

Regarding `DatabaseBridge` I don't recall reading about it in the docs, where can I get more info on it?

[2019-02-01 21:35] radex commented on #221
@JensonMiralles no specific support. It would indeed be nice if there was a built-in adapter-level `dump` and `load` support, but there's currently none. Would you like to contribute to that feature?

You can use `database.batch` to just add a lot of records all at once.

Or I guess you could hack `synchronize()` to load records from JSON.

[2019-02-01 21:38] radex commented on #220
What do you mean by that? How would this non-uniqueness happen?

I'm not 100% sure if I follow what you're trying to achieve (and why). Do you only need to prefix the `id` field of ID record when using it with the `synchronize()` function? Or do you want all record IDs locally to be automatically prefixed (and kept that way locally)?

[2019-02-01 21:44] radex commented on #219
Can you give me a more specific use case where that's the case? Does that have to do with your local and remote IDs being different, or is it a schema-specific thing?

Sure! Let's just hash out my small concern above — but if it appears that this is a reasonable feature, then yeah, absolutely send a pull request :)

There's a couple of places that depend on associations. The `@children` decorator

[2019-02-01 21:45] radex commented on #102
@theVasyl Hey, just checking again — is this still relevant to you?

[2019-02-01 21:54] radex commented on #212
@namjul Sorry for late reply!

Let's move this discussion in the PR thread, OK?

Let me show you how this works now:

1. When you do `prepareUpdate`, record is set as `hasPendingUpdate=true`. This is to prevent multiple changes before the change is committed (saved to database): https://github.com/Nozbe/WatermelonDB/blob/e7df835c7ba58c950d0f09564e831d7f350ff987/src/Model/index.js#L102
2. Similarly

[2019-02-01 22:19] radex commented on #216
@davideweaver As I think you can understand, I'm hesitant towards accepting such changes into Watermelon. The problem is that "the ID of a record never changes" is an assumption that's probably hardcoded into a lot of places, and breaking this assumption could cause a lot of Watermelon stuff to break (perhaps in non-trivial ways). If you want to make a fork and work on this, I very much encourage

[2019-02-01 22:34] radex commented on #206
@esbenp  All right. Sorry I haven't come back to you quickly. Let me mull this over some more — sync is a tricky subject :) I'll do my best to get back to you with a proper response next Friday.

Will you be willing to work on the implementation of additional sync statuses if we come to a consensus regarding how to approach this?

[2019-02-02 06:02] cwagner22 opened #224 "Static model action to create a new record"
For example:
[code]
Can I move this action to the `Post` model? I need a `create` action with some additional logic and would like having it in the `Post` model. (static method)

[2019-02-02 11:10] esbenp commented on #206
Yes, we are open for contributing. We are actually on faires this weekend trying out a new version of our app that uses the Just Sync Everything model, so we will definitely have some feedback next week. We definitely have some ideas already so lets talk shop soon :-)

[2019-02-02 11:16] esbenp commented on #219
Our app has `customers` which is a many-to-many intermediate table between 2 companies. So it could look something like

[code]

Its common in b2b sales to have multiple customers that are basically the same company. Imagine if you were selling straws to McDonalds stores you might have customer A being McDonalds London and customer B being McDonalds New York, but both customers in the end share th

[2019-02-02 14:08] skhizerabass opened #225 "Observer doesn't listen to changes"
I have applied the Observer on my table but It doesn't display the change. It only re renders with the old data in the table. I have already checked that the data was successfully updated .

Just to mention if I make changes through the same instance of the DB on which Observer is made . It listens to the changes But if I make any change from another DB instance. That creating a new object of a DB

[2019-02-03 12:59] JensonMiralles commented on #221
I will take a look on that.

Thanks you!

[2019-02-03 15:57] saadqbal commented on #225
Hey @radex ,

I have created the following  class for creating a DBInstance. Since we are doing the insertion and updation outside components as we are suing redux-saga, we cannot use the Database Provider :
[code]

 But this does not work as well. Could you please let me know how can we use a single db instance with redux-saga?

[2019-02-04 13:45] radex commented on #224
`and would like having it in the Post model. (static method)`

i mean, sure, you can do it, but you'd have to pass `database` as an argument.

I recommend having an object like `ModelRoot` that you inject into the component tree via context that has all the top-level model actions like `root.createPost`

[2019-02-04 13:48] radex commented on #225
@saadqbal I don't know `redux-saga`. I definitely do not recommend having singleton classes in your app, but I don't see a reason why this wouldn't work. You do seem to have only a single Database instance, so all is good. You need to provide more diagnostics about your problem for me to be able to help you

[2019-02-04 14:39] cwagner22 commented on #224
Thank you. I am not yet familiar with injecting objects like `ModelRoot` into the component tree via context. I'd appreciate a quick example otherwise I'll just keep it simple and do it without.

[2019-02-04 15:35] cwagner22 opened #228 "Render a collection with SectionList (React Native)"
Let's say I have a collection of `blogs` which contain multiple `posts`. I want to render a list of the post titles, grouped by blog name (section).

[code]
The issue is `blog.posts` will be a Query Object and not a collection because it hasn't been fetched yet, causing an error (`Tried to get frame for out of range index NaN`)
Would the correct way to do it be to call `fetch()` on each `blog.post

[2019-02-04 15:45] radex commented on #224
Just create your own simple class or object, it doesn't have to be anything specific and use react context to have access to it from components — you'll find description here: https://reactjs.org/docs/context.html

[2019-02-04 20:06] namjul commented on #212
Thank you. I will check this out this week.

[2019-02-04 21:39] bgits commented on #215
For now I resorted to creating these relationships on the `id` fields during the data import and keeping their remote id's on `{model}Id` field. I will see if this degrades into something problematic for me.

[2019-02-05 00:51] davideweaver commented on #216
@radex Thanks for the follow-up. I understand that what I'm trying to do may not fit with your vision. At the same time, I am unable to control the ids of the service I'm syncing with and don't especially like the idea of maintaining a map between local and remote ids. So here's how I managed to make it work for now...

In `markLocalChangesAsSynced` I replace the record having the local id with a

[2019-02-05 03:00] #224 closed

[2019-02-05 09:50] radex commented on #222
@andr3a88 Is this project an ejected Expo project?

[2019-02-05 21:51] cesargdm commented on #216
I would like to set my custom MongoDB IDs as the ids in the local DB so i can query easier a object based on the MongoDB ID I already retrieve by my backend service.

[2019-02-06 20:08] cesargdm commented on #211
I see that the method has changed to `database.unsafeResetDatabase()`.
Could It be documented?

[2019-02-06 20:34] cesargdm opened #236 "Best way to update multiple documents at once?"
I make an updates to Watermelon after I upload local objects to my backend, since I call `Promise.all()` the network requests are made concurrent and In my code I call the update method like this:

[code]
And then the response is made, I get the warning `The action you're trying to perform (unnamed) can't be performed yet, beacuse there are 4 actions in the queue. Current action: unnamed. Ignore t

[2019-02-07 09:42] andr3a88 commented on #222
No, i used `react-native init`

[2019-02-07 11:44] cwagner22 commented on #225
@saadqbal  Did you find a solution for how to access the `database` outside the components? I'm also using `redux-saga` but I guess it's the same issue with `redux-thunk` for example...

[2019-02-07 12:14] pkrefta opened #237 "Basic web example doesn't work in Safari"
Hi guys,

I've started playing with Watermelon and created basic example
[code]
console.log outputs number in Chrome but Safari reports an error
`Diagnostic error: TypeError: null is not an object (evaluating 'loki.getCollection(query.table).chain')`

[2019-02-07 12:22] radex commented on #236
this is covered in the docs: https://github.com/Nozbe/WatermelonDB/blob/master/docs/Actions.md

[2019-02-07 12:25] radex commented on #237
can you dig deeper into the errors to see what's up? looks like `query.table` is null… but why?

perhaps misconfigured Babel, and `static table = 'notes'` doesn't work correctly?

[2019-02-07 12:26] radex commented on #211
it should! I remember there was an issue where this was explained more clearly —can you find it @cesargdm ?

[2019-02-07 12:27] radex commented on #225
@cwagner22 `Database` is just an object. It really has nothing to do with React. So you can just use it — it's up to you how you pass it down so that you can access it

[2019-02-07 12:32] banduk commented on #222
Exactly same problem here. Followed all the instructions!
[code]

[2019-02-07 12:33] radex commented on #222
@banduk have you tried upgrading react-native to latest version?

[2019-02-07 12:35] radex commented on #222
@andr3a88 I think your problem is that since you link React using CocoaPods instead of "traditionally", React is in a different place. check out the latest pre-release of Watermelon. It has this fix for expo projects: https://github.com/Nozbe/WatermelonDB/pull/227/files — if that doesn't work, play with header search paths in Xcode, and make sure it has the path to where React resides for you. If

[2019-02-07 13:09] pkrefta commented on #237
I've pushed my code here https://github.com/pkrefta/watermelon-fun I'm using skeleton application from CRA and I think my configs are fine since it's working OK in Chrome :)

[2019-02-07 13:10] banduk commented on #222
Thanks for the quick reply @radex !
I tried with no luck.

- I also linked react native using cocoa pods, so I tried to add the path as in the patch ou sent. No luck
The thing is that I cant find `RCTBridgeModule.h` in that location.

- I then tried something I don't really know if should work: adding `node_modules/react-native/React/Base` to the `Header Search Paths`. There I can find `RCTBridgeM

[2019-02-07 13:31] banduk commented on #222
@radex Actually I was trying to add the headers path to my project `Header Search Paths`.
When added to Watermelon `Header Search Paths` the error changed to

[code]

[2019-02-07 14:28] radex commented on #222
@banduk please send the patch with the header search path fix, and as for the other error — you didn't follow all the installation steps ;) https://github.com/Nozbe/WatermelonDB/blob/master/docs/Installation.md

[2019-02-07 15:16] banduk commented on #222
@radex Sure, I forgot to get back to the docs, you're right!
I'll get back to this later today and send the PR.
Thanks!

[2019-02-07 17:22] saadqbal commented on #225
Hey @cwagner22 yup we solved it by creating a single Water Melon database instance. and Stored in the the Global object.

e.g:
[code]

you can now use the **global.db** anywhere.

[2019-02-07 22:41] jakebloom opened #239 "Overriding DB filepath when test is running?"
Hi team,

I notice that when we are in a testing environment, we override the filepath of the database in `DatabaseDriver.swift`:
[code]

I'd love to know the reasoning behind this, since I need to use the original path in my automated end to end tests (I'm using [Detox](https://github.com/wix/Detox)). Using the abridged name (`dbName` instead of `path`) means that FMDB fails to open the database,

[2019-02-08 08:04] dipiash commented on #43
Hi @radex !
I'm sorry, I forgot assign pull request to you. But now I can't do this.

I need more information about this point

[2019-02-08 08:34] radex commented on #239
@jakebloom Way ahead of you! Check out the latest 🍉 pre-release. I just fixed it couple of days ago.

Now, you can pass an actual `path` to the SQLiteAdapter constructor and it will work correctly. The way Watermelon knows that you're giving a path and not a name is that either you have slashes `/Users/...`, or the name starts with `file:`.

PS. Why don't you use in-memory database for your tests?

[2019-02-08 10:03] cwagner22 opened #242 "How to create bidirectional (inverse) one-to-one relationships?"
For example, let's say I have a `Person` and a `Passport` tables. One person has only one passport and one passport belongs to one person.

schema.js
[code]

Person.js
[code]

Passport.js
[code]

I create a new passport:
[code]

However, I would like being able to access `passport` from `person` as well. Is manually updating `person.passport` the only way? With Realm I believe there is a way to it

[2019-02-08 10:06] radex commented on #242
Although not idiomatic, I think creating two `belongs_to` associations pointing at each other should work just fine. What's the problem exactly?

[2019-02-08 10:20] cwagner22 commented on #242
I just wanted to make sure there is no better way than:
1. creating two `belongs_to` associations pointing at each other
2. `create()` the product, `create()` the passport + `passport.person.set(person)`. Then `update()` the product with `person.passport.set(passport)`

[2019-02-08 10:20] #242 closed

[2019-02-08 10:54] radex commented on #242
@cwagner22 No, use `batch()` to create and update the two items transactionally. You can prepareCreate a passport and assign it to a variable so you can retrieve the ID to update person. See Actions.md for details

[2019-02-08 11:31] cwagner22 commented on #242
So just to be clear, there is no way to create them both and then update person, all in `batch()`? When I do that I'm getting the error: `Cannot update uncommitted record`

[2019-02-08 14:33] radex commented on #242
hmm… you're right. it would be best to create them at once, but you'd have to override ID when creating to be able to do this.

[2019-02-08 16:11] cesargdm commented on #141
So talking about hooks, and taking advantage of its stable release. For example, ¿the way It should be to use hooks in observables could be?:

[code]

[2019-02-08 16:24] radex commented on #141
Yes! There's a proof of concept implementation of a useObservable on Nozbe/withObservables repo, but it hasn't been committed... A pull request would be nice

[2019-02-09 05:25] cwagner22 commented on #242
Perhaps it would be nice to have the `@children` equivalent for to-one relationships? (`@child`?)

I've found a way to access passport from person without having to set the id manually (to person) by adding this to the Person model:
[code]

Unfortunately this returns an array of results so I have to do that in my code, which is quite ugly:
`const passport = this.props.passport[0];`

[2019-02-11 10:20] radex commented on #242
Perhaps! TBH I'm not sure if `to-one` relations (as opposed to just single `belongs_to` relation) is idiomatic. Because you're creating two sources of truth. If you have two objects that are supposed to point at each other, but one of them points at something else, it's en error. It's easier if just one of the objects points at the other (say, Passport points at Person). This way, say, Person, wou

[2019-02-12 10:08] radex commented on #239
@jakebloom let me know if 🍉 0.10.1 works for you

[2019-02-12 10:09] radex commented on #236
@cesargdm let me know if the issue is fixed

[2019-02-12 10:14] radex commented on #228
What you need to do is to fetch `blog.posts` — correct.

You can use another `withObservables` for that, subscribing to:

[code]

you can also make it reactive (auto-update) by using an Rx composition of `posts.observe()` calls, instead of Promise.all.

Another possibility if you don't feel comfortable with Rx is to observe ALL posts alongside all blogs (instead  of fetching posts per blog), and t

[2019-02-12 10:18] radex commented on #225
closing – seems like solved issue. let me know it it's not

[2019-02-12 10:18] #225 closed

[2019-02-12 10:26] #183 closed

[2019-02-12 10:26] #177 closed

[2019-02-12 10:27] radex commented on #204
hey, check out https://github.com/Nozbe/WatermelonDB/pull/243 if you're still interested in contributing — hopefully all these changes will fix your test issues :)

[2019-02-12 10:28] #5 closed

[2019-02-12 10:29] #43 closed

[2019-02-12 10:30] radex commented on #205
closing - @brandondrew let me know if you're interested in contributing, i can give you pointers as to how to fix the issue ;)

[2019-02-12 16:10] brandondrew commented on #205
Sure, if you can give me pointers then it might be a good way to get started with 🍉

[2019-02-12 16:49] imrenzarbie opened #245 "The development server returned response error code:500"
I did all the steps in the docs regarding installation but when, I'm running it as react-native run-android I'm greeted by an error. I haven't created any schema just did the step by step installation

![capture](https://user-images.githubusercontent.com/24402504/52652478-1f7d9800-2f29-11e9-8187-1b62850793a4.PNG)

[2019-02-12 17:45] radex commented on #205
@brandondrew Sure, take a look here:

https://github.com/Nozbe/WatermelonDB/blob/master/examples/web/src/components/Root/index.js#L2

the easy way out is to just replace the BrowserRouter with… MemoryRouter or something like that — check out the docs from react-router. But it's probably easy to modify ZEIT `now` settings (or web pack?) to accept URLs such as `https://watermelondb.now.sh/blog/37sha

[2019-02-13 00:43] cesargdm commented on #236
@radex Just the trick in my case is that the actions can be fired at random, because I may recieve 3 responses and a moment after 5 more, and just before 10 more... So that's why I'm getting the warning. So I was just looking for a way to prepare Watermelon for this if there was anyway.
If not, I can just close the issue. It's really not being a issue for me.

[2019-02-13 09:21] radex commented on #236
No, if it's not an issue, then it's not really an issue. The warning is just like it says — a warning of a POTENTIAL problem. If you'd like, you could contribute an improvement that the warning is only showed after a certain timeout — say, 1 or 5 seconds.

[2019-02-13 12:36] ymahnovskyy opened #247 "Watermelondb don't preserve data and don't add any relations properties to model object after babel upgrade."
I had simple WatermelonDB schema (similar to example) and it works fine but after
    yarn upgrade-interactive   (updated all packages)
There appear some issues with compiling and babel configuration. After long internet research which config is right for me I've stopped with such babel.config.js
[code]
I've tried to use my schema in WatermelonDB/example/native application and it seems that it wor

[2019-02-13 13:33] ymahnovskyy commented on #247
Yes, I've downgrade babel according packages in WatermalonDB/example/native and everything start working except jest tests:
[code]

[2019-02-15 00:01] jakebloom commented on #239
Just checked on latest and it works. Thanks @radex!

[2019-02-15 00:01] #239 closed

[2019-02-15 09:03] radex commented on #239
🎉

[2019-02-15 09:26] namjul commented on #212
My current status https://github.com/namjul/WatermelonDB/pull/1/files
This works now as intended. But i am not sure about the implementation.
I am iterating 2 times or all operations https://github.com/namjul/WatermelonDB/pull/1/files#diff-c5500afe3b4153f17b1903a7ac03029dR146
Maybe there is a better solution.

[2019-02-15 09:47] radex commented on #212
@namjul can you submit a PR to this repo? It would be easier to review and give tips.

I think you can use `rambdax`'s `groupBy` (or something like that) to change a flat array of updated records into an array grouped by collection — taht would be one improvement.

The most important thing is to add/update tests for observation — i.e. set up a test where you batch create and update multiple record

[2019-02-15 15:19] carizzapanopio opened #250 "CRUD and Components"
I  feel like this is a dumb question. I am really new to working with react native and I want to use WatermelonDB. However, Im stuck.

Where do it put this?
`const postsCollection = database.collections.get('posts') `
I tried using that code inside the page that I am displaying, but I am getting the error **_database is not defined_**?

Can you give me a sample code for that? Thank you and I would

[2019-02-15 16:22] diegolmello opened #251 "Working with multiple databases"
Hey, everyone.

I need to have multiple databases instances in my app, but the lib is complaining.

<img width="350" src="https://user-images.githubusercontent.com/804994/52868667-1bb96380-312b-11e9-961f-bdd4a50feeb0.png" />

[code]

### Why do I need multiple databases?
At Rocket.Chat, we have one database to store which servers the user has already signed in and one database per server.
We would

[2019-02-15 17:09] radex commented on #251
[code]

should be:

[code]

Easy peasy!

That's awesome! Rocket.chat looks super cool, I'd be very much interested in hearing more from you if you're exploring switching to WatermelonDB :)

[2019-02-15 17:16] diegolmello commented on #251
Thanks, @radex!
I was just starring my code like a dumb, because a rewrite everything and worked...

I'll do it anyway, but this comment makes me wonder if it'll work: https://github.com/Nozbe/WatermelonDB/issues/225#issuecomment-460040021

Sure! I'll keep you updated and I'll probably talk more in this repo.
We're planning to rewrite our front end on React too and... well... we'll need a database

[2019-02-15 17:16] #251 closed

[2019-02-15 18:31] diegolmello opened #252 "Create or update record (batch)"
Hey, guys.

What is the proper way of create or updating records in one statement?
I fetch the updated data and I need to save into the database.
I understand [all validation must be made on javascript](https://github.com/Nozbe/WatermelonDB/issues/198#issuecomment-453163662) and that makes us to do `try/catch` everywhere.

[code]

A bit verbose, but it works.
This is for one record, but the server

[2019-02-15 20:07] carizzapanopio commented on #252
Hello. How are you able to access the database object? I am new to react native and want to use watermelondb. However, i dont know how to move forward after the creation of models.
When I include this code `const postsCollection = database.collections.get('posts')` I encounter an error that says variable is undefined.  Thank you.

[2019-02-15 20:38] diegolmello commented on #250
You can `export` your database and `import` it where you want to use.

 [In the example](https://github.com/Nozbe/WatermelonDB/blob/master/examples/native/index.js#L18), they just create the database and pass it around via props. That's another way.

You could do this way:
[code]

You're probably new to js too and that's ok.
Look around for import/export variables and functions and you'll be fine

[2019-02-16 07:18] nikopolidi opened #253 "[SYNC / CUSTOM SYNC] Custom sync process with unchanged/synced status on create"
Hey guys I'm developing RN app and I'm trying to implement custom sync process. But it seems that when I create records fetched from API all WDB records has `syncStatus: "created"` and whole object under `changes` attribute.
Is it possible to have a way to have custom sync process that takes control of internal things syncStatus/changes etc?

I'm tracking this package since v0.9, I was looking for

[2019-02-16 15:28] yatsyk commented on #204
Problem with test runner disappeared. It seems it was something wrong with node versions on my side.

Stopped experimenting with WatermelonDB for some time so I’m not sure when I’ll be ready to prepare pull request.

What if we use https://github.com/GoogleChromeLabs/comlink to communicate with worker. Comlink could communicate with any object with postMessage, addEventListener and removeEventList

[2019-02-17 18:28] waqas19921 commented on #51
@rozPierog @radex can we use this library https://github.com/sqlcipher/android-database-sqlcipher in android side for encryption purpose and fmdb/sqlcipher for iOS?

[2019-02-18 09:12] radex commented on #51
@waqas19921 I don't think it's necessary on iOS:

It would matter only for jailbroken phones with sandboxing disabled, I think.

And yes, encrypting sqlite makes sense, and would be nice if it was an option — but as discussed above, this has consequences on app bundle size and performance. Would you like to do more research on this and contribute to this effort?

[2019-02-18 09:17] radex commented on #253
Not currently, but you can see that changes on _status and _changed are done in `sync/helpers.js`. So you're welcome to contribute a patch that allows those two helper functions to be replaced with your custom implementation

[2019-02-18 15:14] cwagner22 commented on #228
Thank you for the help @radex. Observing all posts + all blogs and then grouping the posts by blog name works well.

[2019-02-18 15:14] #228 closed

[2019-02-18 15:14] hussamkurd opened #254 "[DB] Uh-oh. Database failed to load, we're in big trouble TypeError: Cannot read property 'initialize' of undefined"
I keep receiving

When test the database with **jest**

I trace the error and find that
at node_modules/@nozbe/watermelondb/adapters/sqlite/index.js:95:35
This

Native is null

Iam using the following libraries

    "react-native": "0.58.4",
    "react": "16.8.2",
    "prop-types": "^15.7.2",

And I have the right decorators defined in babel

What is the problem?

[2019-02-18 15:25] radex commented on #254
You can't test with a SQLite database in Jest. As you can see in the error, it's a purely native thing. It's possible to do this if you run tests in the simulator, but it's quite complicated to set up.

**Replace SQLiteAdapter with LokiJS adapter** for tests only, as if you were setting up a web project. This should work without problem :)

[2019-02-18 15:43] cwagner22 commented on #225
Another nice way to do it by simply exporting the database: https://github.com/Nozbe/WatermelonDB/issues/250#issuecomment-464191016

[2019-02-18 15:49] cwagner22 opened #255 "Ship with an already existing database"
Is it possible to ship my app with an already existing database? (I could do that with Realm)

I have content that should be available when the user first launches the app. I am wondering if having to generate the database at launch from json (for example) is the only way?

[2019-02-18 15:54] radex commented on #255
I guess, sure, but there's no specific support for this — so you'll either have to pass to JavaScript path to native file in the app bundle with the database (if it's read-only), or move the app bundle stub to the documents directory (if it's the empty database that will then be writable)

Either way, it'll take 3-10 lines of Swift/ObjC/Java/Kotlin to do it :)

[2019-02-18 21:27] diegolmello commented on #252
Just updating this issue...
I [found in docs](https://github.com/Nozbe/WatermelonDB/blob/master/src/Database/index.js#L43) that `batch` only works for `prepareCreate` and `prepareUpdate` methods.

Also, it's possible to group several actions as we would call a `batch`, but resolve as Promises instead (this is nice when fetching new data and finding out what to do in the local db).
[code]
It's not

[2019-02-19 02:28] cfeeling commented on #220
@radex sorry for replying it so late.

Lets say, there are two clients in different place, ClientA and ClientB, all generated records in TableA has a field `id` which would be generated by WatermelonDB, and all records in TableA would be sync to table RemoteTableA on remote database server.

1. ClientA generated a record with id `12345678` in table TableA locally;
2. ClientB generated a record wit

[2019-02-19 07:23] hussamkurd commented on #254
Thanks @radex you save my day!

[2019-02-19 07:40] #254 closed

[2019-02-19 09:25] ymahnovskyy commented on #42
When I set property of model wrong type (for example string for number property) it is not saved without any warning or error.
Should I add separate issue or that should  be fixed in scope of this one?

[2019-02-19 09:32] arahmanali opened #256 "getting database object instead post"
getting database object instead post as shown in the docs
**expected**
[code]
**receiving**
[code]

[2019-02-19 10:13] arahmanali commented on #256
reason sort out

[2019-02-19 10:13] #256 closed

[2019-02-19 13:35] radex commented on #42
What do you mean, exactly? Can you give a snippet of code?

[2019-02-19 14:28] ymahnovskyy commented on #42
I have model with such columns
[code]

and when I want to create record and set
[code]
I didn't see any warning (I don't use Flow) or errors and values x and y of this record in db were x = 0 and y = 0.

[2019-02-20 17:08] diegolmello opened #258 "Keeping a FlatList sorted over time without re-render everything"
Hey, guys.
I'm having trouble here trying to keep a `<FlatList />` sorted by date.
In my scenario, I have lots of chats and I need to keep them ordered by activity desc.
I can make it work, but it's causing everything to re-render every time the subscribe updates.

In short, I open a query and only want update state when `room_updated_at` changes in a record.
Everything else is updated inside the

[2019-02-20 17:30] radex commented on #258
I think you mean `observeWithColumns(['room_updated_at'])`

Also: Why not use `withObservables` for observing the query? And then each item on the list should be a component that observes its chat using withObservables. And that wrapped in React.memo so that you don't have to fiddle with `shouldComponentUpdate` manually

[2019-02-20 17:41] diegolmello commented on #258
Because `appDatabase` will change over time.
The user can switch between server databases and the app must refresh chats list without trouble.

Here's a screenshot:
<img width="350" src="https://user-images.githubusercontent.com/804994/53112083-3caff900-351d-11e9-8b07-9e7dd2a3079b.png" />
There's only `open.rocket.chat` there, but it could have more.
That's why I can't use `withObservables`.

I ch

[2019-02-21 11:54] radex commented on #258
That shouldn't be a problem — just tell withObservables to re-observe if db is different:

[code]

[2019-02-21 11:57] diegolmello commented on #258
@radex Nice! Apparently, it'll solve some issues. Thanks.

[2019-02-21 11:57] #258 closed

[2019-02-21 12:00] ndrkltsk opened #259 "React Native, database don't preserve data"
I noticed that others already had the same problem:

When I try to create a new entry, the entry is created but no data is saved; strings are emptry, numbers are zeros.

I already tried to set all dependencies as in example native app, but nothing.
My .babelrc is the same as in the documentation and example app.

[2019-02-21 12:11] radex commented on #259
@ndrkltsk Can you please search through Issues (open and closed) for similar issues? A few other people had the exact same issue — I'm 90% sure there's a problem with your babel setup (decorators don't work correctly)

[2019-02-21 15:07] diegolmello commented on #252
It's sad, but I had to stop our migration from Realm because of the lack of a better `batch`.
The gif below shows a chats list just after logging in.
The app requests all rooms from an user and list them.
Of course this is not an easy task, but the inserts/updates shouldn't be executed in a queue.

![20190221_115821](https://user-images.githubusercontent.com/804994/53178455-a806d300-35d0-11e9-8876

[2019-02-21 15:29] radex commented on #252
Hold on, you can do it with `batch` — the only thing you can't is deletes (YET), I just didn't have time to respond yet ;)

[2019-02-21 15:36] diegolmello commented on #252
@radex Can I do a `find` followed by a `create/update` in a batch?
I don't think so.
That needs an action and `batch` only supports `prepareCreate` and `prepareUpdate`.

[2019-02-21 15:58] radex commented on #252
I do think so :) Unless I really badly misunderstood your question — let me get back to you tomorrow

[2019-02-21 16:30] diegolmello commented on #252
@radex We have several API routes to update local data.
Examples:
- `rooms.get`: returns all rooms since a date, but a room has roles too
- `channels.history`: returns all messages since a date, but a message has reactions and attachments too

Record by record, we need to ensure it's up-to-date. It may be outdated and we need to `update` it or it may never exist yet, so we need to `create` it. We

[2019-02-22 09:22] ndrkltsk commented on #259
No idea how and why, today the issue disappeared. I literally done nothing, and the machine I'm working on has been turned on all night long.

Thank you, closing.

[2019-02-22 09:22] #259 closed

[2019-02-22 10:11] ndrkltsk opened #262 "TypeError: sanitizer is not a function"
While I try to insert json data, I get:

  ```TypeError: sanitizer is not a function```

The column type is string in schema, and the decorators are setup like in docs: https://github.com/Nozbe/WatermelonDB/blob/master/docs/Advanced/AdvancedFields.md#json

[2019-02-22 14:17] rkrajewski commented on #262
@ndrkltsk Can you show definitions of the field and the sanitize function?

[2019-02-23 17:25] alxmiron opened #263 "Bootstrap error on Android with ExpoKit: undefined is not an object (evaluating 'Native.initialize')"
My project, ejected from expo v32

I walked strictly through [the installation guide for Android](
https://github.com/Nozbe/WatermelonDB/blob/8c2030ffa389c9c2b1299e9b0bf981306381930d/docs/Installation.md#android-react-native) and did required steps (except `compile project(':watermelondb')` should be `implementation project(':watermelondb')`, update docs please). But get a runtime error:

[code]

[2019-02-24 09:53] radex commented on #263
I think you're right — can you please send a quick PR with a fix?

the native adapter is not defined. So there's likely something wrong with the native setup, and Kotlin DatabaseBridge doesn't get compiled…

[2019-02-24 17:56] alxmiron commented on #263
I'm not an expert in android, but I guess that the reason is in different `MainApplication` classes in case of expokit usage. Here is my current `MainApplication.java` and it doesn have `reactNativeHost` like [in example MainApplication.kt](https://github.com/Nozbe/WatermelonDB/blob/master/examples/native/android/app/src/main/java/com/app/MainApplication.kt):

[code]

I also learned what `react-na

[2019-02-24 18:12] dmuensterer opened #266 "Fetch results of query"
I am using WatermelonDB as a local database of my app. I have a method `getPlaces()` inside a class AccessDB:

[code]
Calling `getPlaces()` using `AccessDB.getPlaces()` with `async` and `await` works.
I wasn't able to find any information on the `fetch()` function in the documentary.
How can I fetch the results matching the query?
`fetchCount()` works like a charm, so I assume I am almost there.

[2019-02-25 11:56] radex commented on #263
cc @rozPierog

[2019-02-25 12:04] radex commented on #252
This:

[code]

is misguided. `batch` must be called within an Action — but you don't have to do one Action per operation — doesn't really make sense. An Action ought to encompass all related operations, and your finds, created, and updates are related.

Here's how you create or update multiple records in one go efficiently (yes, it's not the prettiest code and could be a bit easier, but should wor

[2019-02-25 12:05] radex commented on #252
Clarification: The confusing part (but currently necessary to enable 🍉's asynchronous nature while giving you safety of batch) is that all stuff passed to batch must be prepared operations — that is, synchronous stuff. But you can still do asynchronous stuff with it, you just have to prepare all the data to create or update beforehand, and then only pass to batch preparedCreates and preparedUpdate

[2019-02-25 12:21] diegolmello commented on #252
@radex That's a nice idea. One query to check all ids.
I'll try this and get back to you. Thanks!

[2019-02-25 18:21] lakhman commented on #252
Deletes in a batch would be very useful, when I fetch new data I delete the existing rows in the database, this prints 100's of log debug statements like so:

[code]

If we could delete all the rows in a table  in a single batch operation (with 1 log statement) like prepareCreate and prepareUpdate - that would be an awesome addition.

Any ideas when a delete feature could land?

[2019-02-25 19:33] diegolmello commented on #252
In order to avoid calling `destroyAllPermanently` on a table, which can be very slow, I'm planning to take another approach as workaround until `prepareDelete` is implemented.
_I'm working in something else right now and didn't test this idea, but I'll write as it may be useful to someone else._

Instead of deleting everything from a table every time new data is fetched, having a `json` column in

[2019-02-25 23:50] greenkeeper[bot] opened #267 "An in-range update of babel7 is breaking the build 🚨"
## There have been updates to the *babel7* monorepo:

 + - The `devDependency` [@babel/core](https://www.npmjs.com/package/@babel/core) was updated from `7.3.3` to `7.3.4`.
- The `devDependency` [@babel/plugin-proposal-class-properties](https://www.npmjs.com/package/@babel/plugin-proposal-class-properties) was updated from `7.3.3` to `7.3.4`.
- The `devDependency` [@babel/plugin-proposal-object-re

[2019-02-26 08:23] radex commented on #252
No earlier than May, June — and maybe later. Unless there's interest from the community to help out with implementation, in which case we might be able to get this done in April?

[2019-02-26 08:24] radex commented on #252
@diegolmello It's completely fine, as long as you're aware of the downsides of using JSON (less flexibility in querying, and potential issues in resolving sync conflicts — but you're not using 🍉 sync so that doesn't apply to you)

[2019-02-26 15:13] radex commented on #255
@cwagner22 hey, did you take a look at this problem?

[2019-02-26 15:14] radex commented on #253
@nikopolidi Hey, what's the status of the issue?

[2019-02-26 15:14] radex commented on #245
@imrenzarbie hey, did you fix the issue?

[2019-02-26 15:15] radex commented on #221
@JensonMiralles hey, what's the status of the issue?

[2019-02-26 15:16] radex commented on #178
@creambyemute Hey, are you still interested in pursuing this issue?

[2019-02-26 15:16] radex commented on #186
@ieschalier hey, what's the status of the issue for you?

[2019-02-26 15:20] radex commented on #204
@yatsyk `comlink` looks nice, but I'd rather avoid it because it relies on ES6 Proxy. I'm not a huge fan of Proxy, because a) it hides stuff behind magic (I prefer explicitly defined interface via Flow/TS), and b) it requires a polyfill, adding 4KB for a simple thing...

I don't thinnk it's really necessary, is it?

https://github.com/Nozbe/WatermelonDB/blob/53b3357c6875a4be769fc107b179454febacd70

[2019-02-26 15:21] radex commented on #205
@brandondrew Hey, did you have a change to take a look at this?

[2019-02-26 15:21] radex commented on #212
@namjul Hey, did you have a chance to work on this a little?

[2019-02-26 15:29] radex commented on #29
@jakebloom @kroltan Hey, any update on this? I know a lot of people would really like 🍉 to have TypeScript types. It doesn't have to be perfect! Some types are better than none! (Since other people will be more willing to contribute if some work is already done)

[2019-02-26 15:34] cwagner22 commented on #255
For now generating the database at first launch is an acceptable solution for me, thanks.

[2019-02-26 15:43] radex commented on #255
Alright.

[2019-02-26 15:43] #255 closed

[2019-02-26 15:49] radex commented on #206
@esbenp I am very, very sorry about my long procrastination with getting back to you. You mentioned you are trying out the "Just Sync Everything model" — how did it go?

[2019-02-26 16:15] imrenzarbie commented on #245
no sorry, i didn't find any solution for this

[2019-02-26 16:15] imrenzarbie commented on #245
no sorry, i didn't find any solution for this

[2019-02-26 16:42] creambyemute commented on #178
@radex I'm atm busy finishing up our app, but later I'd be happy to tackle it.

[2019-02-26 20:28] nikopolidi commented on #253
@radex I have chosen another way of handling this because deadline is getting too close :-(
Unfortunately I have found weird bug-like behaviour which makes WDB working slow as hell. I'm going to create new issue with details

[2019-02-27 09:20] arahmanali commented on #71
`
Require cycles are allowed, but can result in uninitialized values. Consider refactoring to remove the need for a cycle.
Require cycle: src/navigation/Navigation.js -> src/navigation/registerScreens.js -> src/containers/Authentication/index.js -> src/components/Authentication/index.js -> src/navigation/Navigation.js

`

[2019-02-27 11:09] brunolemos opened #270 "React Hooks"
Full api using only React Hooks.

I see there's an open PR for one hook but I didn't find an issue specific for this.

[2019-02-27 14:40] ieschalier commented on #186
Hey @radex, currently nobody in my team have time to work on this issue.

Usage of raw query do the job, but it's not the more pretty solution.

[2019-02-27 16:13] radex commented on #253
That's not good! Do make an issue!

[2019-02-27 16:14] radex commented on #178
@creambyemute Alright, do let us know when you want to tackle this!

I think we'd prefer initially to have this as a separate repository for reasons described above, but if we start using it ourselves or there's enough interest from the community, we could merge it into the core.

[2019-02-27 16:15] radex commented on #186
Understood — thanks for the update!

[2019-02-27 16:37] namjul commented on #212
@radex very sorry for the late response. Some personal struggles.
I created the PR https://github.com/Nozbe/WatermelonDB/pull/271
I updated the Database test for batching but possibly not fully covering. Also what test should i add if any? I commented about the `groupBy` solution you mentioned and that I was not able use it.

[2019-02-27 17:50] jakebloom commented on #29
@radex I really want to put some time into this but unfortunately I'm just too busy at the moment. When things quiet down for me I'll certainly have a look

[2019-02-28 14:28] cwagner22 commented on #254
I wish there was a testing example (especially with React Native) because I'm struggling with it. I tried to use LokiJSAdapter instead of SQLiteAdapter when jest is running but got multiple modules not found error... (lokijs, lodash.clonedeep etc)

[2019-02-28 15:16] radex commented on #254
Just yarn add loci's, lodash.clonedeep :)

[2019-03-01 10:56] arahmanali opened #273 "Transform column value before db transaction"
well the problem is while Sync `pullChanges` i am trying to transform some data coming from the server before saving into the database, found out `@json` decorator do the same with **sanitize** but its not working on pull while syncing your db to server.

could anyone highlight why? am i missing anything?

Thanks

[2019-03-01 13:08] radex commented on #273
why not transform it in your `pullChanges` implementation? That should be the appropriate place for this

Sync works on a lower level than Model decorators — and doesn't know about them.

[2019-03-02 13:09] namjul opened #275 "Creating many to many relationships with itself"
The schema i am trying to build is:
An item can reference multiple other items (**and** an item can be referenced by multiple items.)
Because of the `associations` field being an object i can not build the reverse lookup so i am trying to just query the references an item has.
Below you see the part where i try to do this but `Q.on` does not work with `Q.and` operator.
Am i approaching this from t

[2019-03-03 19:06] vdlindenmark opened #276 "Error: Only safe (?.) or non-null asserted (!!.) calls are allowed on a nullable receiver of type ReadableArray?"
I've created a new React-Native project (0.59-RC3) and installed the newest WatermelonDB. iOS is working fine but Android won't compile. I'm getting those errors:

[code]

I could add some more information, but don't know which one you want, please let me know.

[2019-03-04 09:42] radex commented on #276
Sounds like a Kotlin version mismatch? @rozpierog

[2019-03-04 09:43] radex commented on #276
Or maybe RN 0.59 changed The API...

[2019-03-04 10:56] vdlindenmark commented on #276
@radex It's not unthinkable that RN changed some API's. If I'm right there are a lot of Android changes.
I've created a brand new empty RN.059-RC3 app with WatermelonDB, followed the installation docs and also getting this error (so none complications with other packages).

[2019-03-04 11:56] rozPierog commented on #276
Yup, its braking change in `0.59`: https://github.com/facebook/react-native/commit/b640b6f

[2019-03-04 22:19] Oscarz90 commented on #263
@alxmiron , how did you solve it?

[2019-03-05 07:01] rozPierog commented on #263
@alxmiron how about kotlin? Did you add it to your project? maybe this is the root of your problem. [Link to Android installation docs](https://github.com/Nozbe/WatermelonDB/blob/master/docs/Installation.md#android-react-native)

[2019-03-05 08:02] alxmiron commented on #263
I made it working with [expo bare workflow](https://docs.expo.io/versions/v32.0.0/bare/hello-world/). I also recommend to read [this article](https://blog.expo.io/you-can-now-use-expo-apis-in-any-react-native-app-7c3a93041331)

[2019-03-06 15:46] cwagner22 commented on #254
@radex Is it ok to import both `LokiJSAdapter` and `SQLiteAdapter` in production? Since I don't believe it's possible to conditionally import `LokiJSAdapter`. (I use it only for testing my react native app)

[code]

[2019-03-06 15:50] radex commented on #254
It is OK — there is no global behavior here. You can use `require()` to conditionally import an Adapter, and if __TEST__ is defined by the right babel plugin, it can strip unnecessary code during compilation :)

[2019-03-07 05:00] victorkvarghese opened #279 "CocoaPods Support"
Hi,

is it possible to integrate this library using Pods?
All of my other libs use Pods.

Would be great to see Pods Support!

[2019-03-07 05:21] cwagner22 commented on #254
Unfortunately, I get
`error: bundling failed: Error: Unable to resolve module  fs from ~/MyApp/node_modules/lokijs/src/lokijs.js: Module fs does not exist in the Haste module map` when I run the app on ios.

Even conditionally importing lokijs is not avoiding the error:
[code]

[2019-03-07 08:24] radex commented on #279
@victorkvarghese not currently, but it should be very easy to do if you'd like to contribute :)

[2019-03-07 08:29] radex commented on #254
@cwagner22 hmm what if you make a separate index.js for testing setup?

[2019-03-07 08:35] victorkvarghese commented on #279
Im not that well versed in iOs side.

i tried adding podspec manually to the folder. pod install worked .. But the app crashes saying

[DB] Uh-oh. Database failed to load, we're in big trouble TypeError: Cannot read property 'initialize' of undefined

Not sure whether it's a native issue or my JS code.

[2019-03-07 09:34] cwagner22 commented on #254
Ok I've moved the database in `database.js` where I export it and have mocked `__mocks__/database.js` to use `LokiJSAdapter`

[2019-03-07 11:17] vdthieu commented on #262
Hello, I have the same error
Model
[code]

Schema
[code]
my input on genres field is an array:
[code]

my error:
[code]

package.json
[code]

[2019-03-07 20:05] alxmiron commented on #263
Yes, I added Kotlin as required

[2019-03-07 21:09] radex commented on #262
What's your babel config?

[2019-03-08 03:15] vdthieu commented on #262
@radex
.babelrc
[code]

package.json
[code]

[2019-03-08 07:44] rozPierog commented on #276
I just sat to resolve this issue but I noticed that it is already resolved on master thanks to @kilbot  https://github.com/Nozbe/WatermelonDB/commit/3ad651e33a9b215c396611ef365d237a1a9236b3
I forgot that I've merged his PR sorry about confusion and thanks to @kilbot for his PR.
@vdlindenmark please check out Watermelon `0.10.2-1`

[2019-03-08 16:10] davideweaver commented on #128
I know this has been closed, but has anyone figured out a workaround for this issue?

[2019-03-08 17:12] vdlindenmark commented on #276
That sounds great! I will check it this Monday! :)

[2019-03-10 07:42] arahmanali opened #280 "Can't find variable Symbol - React Native"
<img width="374" alt="Screen Shot 2019-03-10 at 12 24 18 PM" src="https://user-images.githubusercontent.com/5563858/54082068-c7706080-4331-11e9-998b-8984ad8c473e.png">

`react: 16.6.3`
`react-native: 0.58.4`
`@nozbe/watermelondb: 0.10.1`
`@nozbe/with-observables: 1.0.2`

**PS: i have tried step 6**

[2019-03-10 16:51] arahmanali commented on #280
So i found out importing `import 'core-js';` on **top** of index.js was the solution i was importing after React React Native and other libraries :)

[2019-03-10 16:51] #280 closed

[2019-03-11 11:17] vdlindenmark commented on #279
Would be nice if WatermelonDB is supporting CocoaPods, react-native is making the default of it.
I don't know how to intergrade it, so can't help with a PR.

[2019-03-11 12:42] vdlindenmark commented on #276
Nice! The app now build :-) So I could start to change all Realm code to WatermelonDB :-)

[2019-03-11 12:42] #276 closed

[2019-03-11 17:14] vdlindenmark opened #281 "`db.unsafeResetDatabase()` broken in `0.10.2-1`"
Because of https://github.com/Nozbe/WatermelonDB/issues/276 I'm using version 0.10.2-1.
I'm playing with a generate database-function (like the generate.js in the example project) but it won't succeed `db.unsafeResetDatabase()`. It's also not working in the example project if you run in on 0.10.2-1. :-)

Looks like a problem inside WatermelonDB itself.

[2019-03-11 17:24] vdlindenmark commented on #281
AH, that's because of this: BREAKING: Database.unsafeResetDatabase() now requires that you run it inside an Action

I will create a PR for this.

[2019-03-12 16:08] #281 closed

[2019-03-12 16:09] radex commented on #252
@diegolmello Hey, how's progress? Did this solution work?

[2019-03-13 12:48] diegolmello commented on #252
@radex I spent too much time on this, so we'll stick to Realm for now.
I'll try 🍉again soon.

[2019-03-13 12:54] radex commented on #252
@diegolmello I'm sad to hear that, but I completely understand! Switching a database is hard, and Realm has more resources for documentation. I'll close this issue for now, but I definitely encourage you to ask questions if you'd like to try 🍉 again in the future.

[2019-03-13 12:54] #252 closed

[2019-03-13 22:20] vdlindenmark opened #286 "RN: Flatlist / Sectionlist support?"
Hi! I have a problem with getting WatermelonDB working with RN flatlist / sectionlist. Specifically the renderItem part. For example this will work just fine:
[code]
But something like this (I don't test this specific piece of code, just an example to share the idea of my problem) won't work:
[code]
It's broken inside the <BlogItem /> and throws this error: `TypeError: blog.observe is not a functi

[2019-03-13 22:33] #286 closed

[2019-03-17 12:45] jaysonjh opened #288 "Build failed 0.59"
DatabaseBridge.kt: (196, 37): Only safe (?.) or non-null asserted (!!.) calls are allowed on a nullable receiver of type ReadableArray?

[2019-03-17 14:29] GustavoMontenegro commented on #288
Hello, in my case watermelon not install in react-native project:
"react": "16.8.3",
"react-native": "0.59.1",
"@nozbe/watermelondb": "^0.10.1",

[2019-03-18 09:15] vdlindenmark commented on #288
Just make sure you use the newest version of a package before you create an issue :-).
It's already fixed in `0.11.0`: https://github.com/Nozbe/WatermelonDB/issues/276

[2019-03-18 15:32] jaysonjh commented on #288
Upgrade to 0.11.0. It is work now.

[2019-03-18 15:59] vdlindenmark commented on #288
Nice! You can close this issue :)

[2019-03-18 16:02] #288 closed

[2019-03-20 11:25] skhizerabass opened #291 "Observer doesn't listen to change if i update any column"
I am using the observer to listen any change I make in subscription object, But observer doesn't listens to any update i call.
e.g I am updating notifications field, but props never changes as in It doesn't re renders itself. I have double checked the object and the update query which successfully executes . But observer doesn't observes any change.

[code]

Below is the component I have applied O

[2019-03-20 21:36] #291 closed

[2019-03-22 06:17] jaysonjh commented on #279
Need CocoaPods Support！

[2019-03-22 06:27] vdlindenmark commented on #279
@jaysonjh the idea of open-source is that if you really need something you could provide a PR. :)

[2019-03-22 08:11] radex commented on #279
Yep, please do! I just did a quick search and Artsy seems to have made a tutorial on how to set up a CocoaPod:
http://artsy.github.io/blog/2018/04/17/making-a-components-pod/

[2019-03-22 08:28] victorkvarghese commented on #279
@radex thanks for the link.. will give it a shot

[2019-03-22 20:26] henrymoulton commented on #128
@davideweaver any luck solving this issue?

[2019-03-22 21:17] henrymoulton commented on #128
Believe this happens during Jest test run.

    TypeError: Cannot use 'in' operator to search for 'initializer' in undefined
      at ensureDecoratorUsedProperly (node_modules/@nozbe/watermelondb/decorators/common.js:17:41)
      at node_modules/@nozbe/watermelondb/decorators/field/index.js:25:45
      at Object.__decorate (node_modules/tslib/tslib.js:90:114)
      at Object.<anonymous> (packages/

[2019-03-22 21:39] greenkeeper[bot] opened #293 "An in-range update of chokidar is breaking the build 🚨"
## The devDependency [chokidar](https://github.com/paulmillr/chokidar) was updated from `2.1.4` to `2.1.5`.

🚨 [View failing branch](https://github.com/Nozbe/WatermelonDB/compare/master...Nozbe:greenkeeper%2Fchokidar-2.1.5).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

chokidar is a devDependency of this project. It **m

[2019-03-24 11:21] y3g0r commented on #51
Here I integrated sqlcipher https://github.com/Nozbe/WatermelonDB/compare/master...y3g0r:feature/sqlcipher. It's quick and dirty, but it works for me so far. Maybe it will help somebody out there to get the idea on how to get sqlcipher working with WatermelonDB.

PS. To WatermelonDB developers/maintainers: thank you so much for such a great project.
PPS. I might turn my fork into pull request with

[2019-03-24 15:50] davideweaver commented on #128
I found out this is happening because the code generated by TypeScript for decorators doesn’t work with the decorator code generated by this project. TypeScript doesn’t pass property descriptors when the decorator is instantiated. I think TypeScript generates older-style decorator code.

[2019-03-24 21:08] vdlindenmark commented on #279
I don't know how to setup CocoaPods, but the tutorial looks easy. Maybe I try it this week. :-) Thanks for sharing the tutorial!

[2019-03-24 21:38] vdlindenmark opened #295 "iOS: WatermelonDB issn't compatible with schemes with whitespaces in it"
Hi! My React-Native app has multiple scheme's like: "Appname - Alpha", "Appname - Beta".
But the " - " results in a failed build on the archive commando.

The error in Xcode:
[code]

[2019-03-25 00:20] jaysonjh commented on #279
I write this pod file, it can be build.

[code]

The pod will auto create the WatermelonDB-umbrella.h include FMDB.h. So must modify the Bridging.h

[code]

But in xcodeproject, remove this not build success.May be you can try to fix to integrate by xcodeproject.

[2019-03-25 03:10] mikebeyer opened #296 "watermelon update not triggering observable"
I'm running into an issue where I have 2 screens in react-native.

I'm observing the changes to this collection on a list view screen, and preforming item creation/updates on the second screen.  Any creation that occurs is reflected on the list view, however when I preform an update to an item it doesn't reflect on the list view.  I'm at a loss currently and if there's any more information/clarity

[2019-03-25 08:28] vdlindenmark commented on #128
@radex, could you reopen this issue? It's still an issue in the latest version of WatermelonDB. I successfully moved from Realm to WatermelonDB(and I really love it!), only the tests are failing now because of this issue.

[2019-03-25 14:09] radex commented on #51
I don't _think_ (but I might be behind on some API)  there's really a good encryption/safe key storage api on the web… But it would be great if there was...

Right! It's not actually difficult at all to set up memory databases in either, but it's not exposed to public API. It should be very easy to contribute an extra param or something for in-memory databases

[2019-03-25 14:11] radex commented on #128
Sure! Maybe we need to tweak Babel config for Watermelon? Or maybe it's better for TypeScript projects to use 🍉 source code (with babel config to transpile in the project)?

[2019-03-25 14:12] radex commented on #295
Huh — I don't think there's anything in 🍉 itself that would cause this... Perhaps it's some Swift or RN packager issue... Is it a problem for you to just rename schemes not to include whitespace?

[2019-03-25 14:16] radex commented on #296
this is explained here:
https://github.com/Nozbe/WatermelonDB/blob/master/docs/Components.md

[2019-03-25 14:33] vdlindenmark commented on #295
No it's not any kind of a problem for me, I already did it and I could archive a release. I created this issue to notice this failer to you because it looks like it's triggered by watermelondb (or could it be the Swift support added by watermelondb?)

[2019-03-25 15:06] mikebeyer commented on #296
@radex
`Like before, we enhance it by observing the Post. If the post name or body changes, it will re-render.` I read over the linked docs and I'm missing where an update won't cause a re-render.

[2019-03-25 15:22] radex commented on #296
@mikebeyer You confuse two similar, but also very different things — observing a model/record (like Post in the quoted example), and observing a query (a list of things).

Note https://github.com/Nozbe/WatermelonDB/blob/master/docs/Components.md#reactive-lists :

Observing list re-renders the list if necessary — but each item should individually observe its corresponding record as well

[2019-03-25 15:23] radex commented on #295
Damn. You're right. I completely forgot about one thing.

[2019-03-25 15:24] mikebeyer commented on #296
Ah ha! That makes complete sense. Thanks!

[2019-03-25 15:24] #296 closed

[2019-03-25 15:25] radex commented on #295
@vdlindenmark Can you please check if this PR works for you? https://github.com/Nozbe/WatermelonDB/pull/297

[2019-03-25 15:34] vdlindenmark commented on #295
Will check that today! :-)

[2019-03-25 15:48] radex commented on #295
Actually, I can already see it won't work correctly. You can open WatermelonDB.xcproj and in build phases there's the "copy something something" phase and there's a `cp ${something}/*-Swift.h ...` — and this fails if $something has a space. But if I wrap it in `""`, it will fail, because globbing using `*` won't work. If you have spare 15min you can probably find a solution on stack overflow that

[2019-03-25 17:11] co16353sidak commented on #141
Hey Everyone, I would love to work on updating the docs for watermelonDB regarding the `withObservables()` issue, would love it if I got the go ahead and a some tips on how to do this. 🥇

[2019-03-25 17:24] radex commented on #141
@co16353sidak Hey, I _think_ the withObservables docs have been updated — but feel free to read through the docs carefully again and submit a PR with tweaks and fixes when you feel like something is not exactly understandable

[2019-03-25 18:28] vdlindenmark commented on #295
@radex I din't have the permissions to push my fix to your branch so I created a new PR (I also couldn't assign you to it, so mention you here: https://github.com/Nozbe/WatermelonDB/pull/298)